<div class="login-bg">
    <div class="login-left">
    </div>
    <div class="login-right">
    </div>
</div>
<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" #formDirective="ngForm">
    <div class="container" id="login-box">
        <div class="row align-items-center">
            <div class="col-sm-6 d-none d-lg-block text-center">
                <img src="assets/images/logo.png" class="logo" routerLink="../home">
                <img src="assets/images/login-image.png" class="img-fluid">
            </div>
            <div class="col-sm-6" id="login-box-height">
                <div class="w-100">
                    <div class="row gx-1">
                        <div class="col-sm-12 col-12">
                            <ng-container *ngIf="!verOtpFlag">
                                <div class="row gx-1">
                                    <div class="col-sm col">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-icon matPrefix>person</mat-icon>
                                            <input matInput placeholder="{{'common.please_enter_contact_number'|translate}}"
                                                [readonly]="sendOtpFlag" maxlength="10" formControlName="mobileNumber"
                                                (keypress)="validation.noFirstSpaceAllow($event);validation.acceptedOnlyNumbers($event)">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-auto col-auto">
                                        <button mat-flat-button type="button" class="btn-main btn-icon"
                                            (click)="sendOtp()" *ngIf="!sendOtpFlag" matTooltip="Send OTP">
                                            <mat-icon>
                                                arrow_forward
                                            </mat-icon>
                                        </button>
                                        <button mat-flat-button class="bg-danger btn-icon text-white"
                                            (click)="clearMobAndOTP()" *ngIf="sendOtpFlag" matTooltip="Clear">
                                            <mat-icon>
                                                close
                                            </mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="mb-0">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-icon matPrefix>key</mat-icon>
                                        <input [readonly]="!sendOtpFlag" matInput
                                            placeholder="{{'login.please_enter_otp'|translate}}"
                                            formControlName="otpNumber">
                                    </mat-form-field>
                                </div>
                                <div class="text-end mb-3 mt-0" *ngIf="sendOtpFlag && !otpTimerFlag">
                                    <small class="text-muted">00:{{otpTimer}} Sec.</small>
                                </div>
                                <div class="text-center">
                                    <p class="small mb-4" *ngIf="otpTimerFlag">{{'login.dont_get_otp' | translate}}
                                        <a class="text-main" (click)="sendOtp()"> {{'login.resend_otp' | translate}}</a>
                                    </p>
                                    <button mat-flat-button class="btn-main px-5 rounded-pill py-4" *ngIf="!verOtpFlag"
                                        [disabled]="forgotPasswordForm.controls.mobileNumber.status != 'VALID' || forgotPasswordForm.controls.otpNumber.status != 'VALID'"
                                        type="button" (click)="verOtp()">{{'login.verify_otp' | translate}}</button>
                                        <!-- <button *ngIf="verOtpFlag" mat-flat-button class="btn-main px-5 rounded-pill py-4"
                                        [disabled]="forgotPasswordForm.controls.mobileNumber.status != 'VALID' || forgotPasswordForm.controls.otpNumber.status != 'VALID'"
                                        type="button" (click)="verOtpFlag = true;">Next</button> -->
                                </div>
                            </ng-container>
                            <ng-container *ngIf="verOtpFlag">
                                <!-- <p><a (click)="goBack()">Go Back</a></p> -->
                                <div class="mb-3">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-icon matPrefix>lock</mat-icon>
                                        <input matInput [type]="hide ? 'password' : 'text'"
                                            placeholder="{{'login.Enter_new_password'|translate}}" formControlName="password">
                                        <button mat-icon-button matSuffix (click)="hide = !hide"
                                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                        <mat-error *ngIf="forgotPasswordFormControls.password.errors">
                                            <span class="text-danger"
                                                *ngIf="forgotPasswordFormControls.password.hasError('required')">{{'login.password_required'|translate}}</span>
                                            <span class="text-danger"
                                                *ngIf="forgotPasswordFormControls.password.hasError('maxLength') || forgotPasswordFormControls.password.hasError('pattern')">
                                                {{'login.password_format'|translate}}</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="mb-3">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-icon matPrefix>lock</mat-icon>
                                        <input matInput [type]="chide ? 'password' : 'text'"
                                            placeholder="{{'login.Enter_new_confirm'|translate}}" formControlName="cpassword">
                                        <button mat-icon-button matSuffix (click)="chide = !chide"
                                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="chide">
                                            <mat-icon>{{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                        <mat-error *ngIf="forgotPasswordFormControls.cpassword.errors">
                                            <span class="text-danger"
                                                *ngIf="forgotPasswordFormControls.cpassword.hasError('required')">{{'login.password_required'|translate}}</span>
                                            <span class="text-danger"
                                                *ngIf="forgotPasswordFormControls.cpassword.hasError('maxLength') || forgotPasswordFormControls.cpassword.hasError('pattern')">
                                                {{'login.password_format'|translate}}</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="mb-0 text-center">
                                    <button mat-flat-button class="btn-main px-5 rounded-pill py-4"
                                        type="submit">{{'common.submit'|translate}}</button>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <!-- <div class="mb-0 text-center">
                        <button mat-flat-button class="btn-main px-5 rounded-pill py-4" type="submit">{{'login.login' |
                            translate}}</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</form>