<div class="sidebar close bg-main">
  <div class="logo-details">
    <img src="assets/images/logo-white.svg" alt="Logo">
  </div>
  <ul class="nav-links">
    <ng-container *ngFor="let pages of loginPages let i = index">
      <ng-container *ngIf="pages.pageURL.length <= 1">
        <li routerLinkActive="active">
          <div class="iocn-link">
              <a>
                  <img src="{{pages.menuIcon}}"> 
              </a>
          </div>
          <ul class="sub-menu">
              <li ><a class="link_name">{{language=='Marathi'?pages.m_PageName:pages.pageNameView}}</a></li>
              <li><a routerLinkActive="active" 
                routerLink="/{{pages.pageURL}}">{{language=='Marathi'?pages.m_PageName:pages.pageName}}</a>
              </li>
          </ul>
      </li>
      </ng-container>
      <ng-container *ngIf="pages.pageURL.length > 1">
        <li routerLinkActive="active">
          <div class="iocn-link">
              <a>
                  <img src="{{pages.menuIcon}}">
              </a>
          </div>
          <ul class="sub-menu">
              <li><a class="link_name">{{language=='Marathi'?pages.m_PageNameView:pages.pageNameView}}</a></li>
              <li *ngFor="let page of pages.pageURL; let pageUrlIndex = index">
                <a routerLinkActive="active" routerLink="/{{page}}" routerLinkActive="active">
                 <ng-container *ngIf="language!='Marathi'">
                  <ng-container *ngFor="let pageName of pages.pageName; let pageNameIndex = index">
                    <ng-container *ngIf="pageNameIndex == pageUrlIndex">{{pageName}}</ng-container>
                  </ng-container>
                 </ng-container>
                 <ng-container *ngIf="language=='Marathi'">
                  <ng-container *ngFor="let pageName of pages.m_PageName; let pageNameIndex = index">
                    <ng-container *ngIf="pageNameIndex == pageUrlIndex">{{pageName}}</ng-container>
                  </ng-container>
                 </ng-container>
                </a>
              </li>
          </ul>
      </li>
      </ng-container>
    </ng-container>
  </ul>
</div>