<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">{{'common.masters' |translate}}</li>
    <li class="breadcrumb-item active" aria-current="page">{{'agency.agency_registration' |translate}}</li>
  </ol>
</nav>
<mat-card class="plain-card">
  <mat-card-header class="card-header">
    <div class="d-flex justify-content-between align-items-center w-100">
      <h6 class="text-main mb-0 fw-bold">{{'agency.agency_registration' |translate}}</h6>
      <div class="d-flex align-items-center gap-2">
        <button mat-flat-button class="bg-danger btn-icon text-white" title="{{'common.download_excel' | translate}}"
          (click)="excelDownload()" [disabled]="!tableDataArray.length">
          <mat-icon>
            description
          </mat-icon>
        </button>
        <button mat-flat-button class="btn-main" (click)="registeragency()">
          <mat-icon>add</mat-icon>
          <span>
            {{'agency.Add_agency' |translate}}
          </span>
        </button>
      </div>
    </div>
  </mat-card-header>
  <mat-card-header class="card-header pb-0 border-bottom-0">
    <div class="row w-100">
      <div class="col-sm-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{'common.search_by_name_contact' |translate}}</mat-label>
          <input matInput  [formControl]="searchControl" (keypress)="validation.noFirstSpaceAllow($event)">
        </mat-form-field>
      </div>
      <div class="col-sm-auto">
        <button (click)="getAllAgencyData('filter')" mat-flat-button class="btn-main me-2">{{'common.filter'
          |translate}}</button>
        <button mat-flat-button class="btn-second" (click)="clearSearch()">{{'common.clear' |translate}}</button>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content class="card-body pt-0">
    <app-table-grid (recObjToChild)="childCompInfo($event)"></app-table-grid>
  </mat-card-content>
</mat-card>
