<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">{{'common.masters'|translate}}</li>
        <li class="breadcrumb-item" aria-current="page">{{'student.student_registration'|translate}}</li>
        <li class="breadcrumb-item active" aria-current="page">{{'student_profile.student_profile'|translate}}</li>
    </ol>
</nav>
<mat-card class="plain-card h-100">
    <mat-card-header class="card-header">
        <div class="d-flex justify-content-between align-items-center w-100">
            <h6 class="text-main mb-0 fw-bold">{{'student_profile.student_profile'|translate}}</h6>
            <div class="d-flex align-items-center gap-2">
            </div>
        </div>
    </mat-card-header>
    <mat-card-header class="card-header mb-0 border-0 pb-0">
        <form [formGroup]="filterFrm" class="w-100">
            <div class="row w-100 mb-3">
                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100" [class.disabled-contenct]="this.levelId == 3 || this.levelId == 4 || this.levelId == 5">
                        <mat-label>{{'common.taluka' |translate}}</mat-label>
                        <mat-select formControlName="talukaId" (selectionChange)="filterFrm.value.talukaId!=0?getKendra():'';clearDropdown('taluka')">
                            <mat-option value="0">All Taluka</mat-option>
                            <mat-option *ngFor="let tal of talukaArray" [value]="tal.id">
                                {{tal.taluka}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100" [class.disabled-contenct]="!filterFrm.value.talukaId || filterFrm.value.talukaId==0  || this.levelId == 4 || this.levelId == 5">
                        <mat-label>{{'common.kendra' |translate}}</mat-label>
                        <mat-select formControlName="kendraId" (selectionChange)="filterFrm.value.kendraId!=0?getSchool():'';this.clearFlag=false;clearDropdown('kendra')">
                            <mat-option value="0">All Kendra</mat-option>
                            <mat-option *ngFor="let cen of centerArray" [value]="cen.id">
                                {{cen.center}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 " [class.disabled-contenct]="!filterFrm.value.kendraId || filterFrm.value.kendraId==0 || this.levelId == 5">
                        <mat-label>{{'common.select_school'|translate}}</mat-label>
                        <mat-select formControlName="schoolId" (selectionChange)="getStandard();clearDropdown('school')">
                            <mat-option value="0">All School</mat-option>
                            <mat-option *ngFor="let school of schoolArray" [value]="school.id">{{school.schoolName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'student.select_standard'|translate}}</mat-label>
                        <mat-select formControlName="standardId" multiple>
                            <mat-option *ngFor="let standard of standardArray" [value]="standard.id">
                                {{standard.standard}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'student_profile.select_subject'|translate}}</mat-label>
                        <mat-select formControlName="subjId">
                            <mat-option
                                *ngFor="let subjects of subjectArray" [value]="subjects.id">{{subjects?.subject}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'dashboard.edu_year' | translate}}</mat-label>
                        <mat-select formControlName="yearId">
                            <mat-option *ngFor="let year of  educationYearArray" [value]="year.id">{{year.year}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'common.examId' |translate}}</mat-label>
                        <mat-select formControlName="assesmentId">
                            <mat-option *ngFor="let ssessments of assessmentsArray" [value]="ssessments.id">{{ssessments.examName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'student.fullName'|translate}}</mat-label>
                        <input matInput placeholder=" " formControlName="searchText">
                    </mat-form-field>
                </div>
                <div class="col-sm text-end">
                    <button (click)="getAllStudentData('filter')" type="submit" mat-flat-button
                        class="btn-main me-2">{{'common.filter'|translate}}</button>
                    <button mat-flat-button class="btn-second"
                        (click)="clearForm()">{{'common.clear'|translate}}</button>
                </div>
            </div>
        </form>
    </mat-card-header>
        <mat-card-content class="card-body pt-0">
            <div class="row">
                <div class="col-sm-5">
                    <app-table-grid (recObjToChild)="childCompInfo($event)"></app-table-grid>
                </div>
               <div class="col-sm-7">
                <ng-container *ngIf="StudentDataArray?.length != 0 && tableDataArray?.length != 0">
                        <div class="student-bg">
                            <h5 class="text-primary">{{'student_profile.profile'|translate}}</h5>
                        </div>
                        <div class="student-details">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="{{StudentDataArray?.profilePhoto ? StudentDataArray?.profilePhoto : 'assets/images/user.png'}}"
                                        alt="Student Photo">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="mb-1 fw-bold">{{this.language?StudentDataArray?.englishFullName:StudentDataArray?.marathiFullName}}</h5>
                                    <p class="text-muted mb-4">{{'common.name'|translate}}</p>
        
                                    <div class="data-container">
                                        <div class="row mb-3 justify-content-between">
                                            <div class="col-sm-4">
                                                <span class="data-label">{{'student.parent_name'|translate}}</span>
                                                <div class="data-text">{{StudentDataArray?.parentName}}</div>
                                            </div>
                                            <div class="col-sm-4">
                                                <span class="data-label">{{'common.mobile_number'|translate}}</span>
                                                <div class="data-text">{{StudentDataArray?.parentsMobileNo}}</div>
                                            </div>
                                            <div class="col-sm-4">
                                                <span class="data-label">{{'student.aadhar_card_number'|translate}}</span>
                                                <div class="data-text">{{StudentDataArray?.aadharNo==0?'-':StudentDataArray?.aadharNo}}</div>
                                            </div>
                                        </div>
                                        <div class="row mb-3 justify-content-between">
                                            <div class="col-sm-8">
                                                <span class="data-label">{{'common.school_name'|translate}}</span>
                                                <div class="data-text">{{StudentDataArray?.schoolName}}</div>
                                            </div>
                                            <div class="col-sm-4">
                                                <span class="data-label">{{'student.standard'|translate}}</span>
                                                <div class="data-text">{{StudentDataArray?.standard}}</div>
                                            </div>
                                            <!-- <div class="col-sm-4">
                                                <span class="data-label">{{'student_profile.class_teacher'|translate}}</span>
                                                <div class="data-text">{{StudentDataArray?.teacherName}}</div>
                                            </div> -->
                                        </div>
                                        <div class="row mb-3 justify-content-between">
                                            <div class="col-sm-4">
                                                <span class="data-label">{{'student.gender'|translate}}</span>
                                                <div class="data-text">{{StudentDataArray?.gender}}</div>
                                            </div>
                                            <div class="col-sm-4">
                                                <!-- <span class="data-label">{{'student.parent_second_mobile'|translate}}</span> -->
                                                <span class="data-label"></span>
                                                <div class="data-text">{{StudentDataArray?.parentSecMobileNo}}</div>
                                            </div>
                                            <div class="col-sm-4">
                                                <!-- <span class="data-label">{{'student.parent_email_id'|translate}}</span> -->
                                                <span class="data-label"></span>
                                                <div class="data-text">{{StudentDataArray?.parentEmailId}}</div>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <mat-card class="plain-card border">
                            <mat-card-header class="card-header pb-0 border-bottom-0">
                                <div class="d-flex justify-content-between align-items-center w-100">
                                    <div class="fw-bold flex-fill align-self-start">{{'student_profile.progress_indicator'|translate}}</div>
                                    <div class="flex-fill">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>{{'student_profile.select_subject'|translate}}</mat-label>
                                            <mat-select [formControl]="subjectId" (selectionChange)="assesmentChartData()">
                                                <mat-option
                                                    *ngFor="let subjects of subjectArray" [value]="subjects.id">{{subjects?.subject}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-card-header>
                           <ng-container *ngIf="this.chartData?.length!=0">
                            <mat-card-content class="card-body">
                                <div id="chart">
                                    <apx-chart [series]="ChartOptions?.series" [chart]="ChartOptions?.chart"
                                        [xaxis]="ChartOptions?.xaxis" [yaxis]="ChartOptions?.yaxis"
                                        [stroke]="ChartOptions?.stroke" [tooltip]="ChartOptions?.tooltip"
                                        [dataLabels]="ChartOptions?.dataLabels">
                                    </apx-chart>
                                </div>
                            </mat-card-content>
                           </ng-container>
                           <ng-container *ngIf="this.chartData?.length==0">
                            <div class="alert alert-danger text-center py-2">
                                Data Not Available
                            </div>
                           </ng-container>
                        </mat-card>
                </ng-container>
                <ng-container *ngIf="StudentDataArray?.length ==0 || tableDataArray?.length ==0">
                        <div class="alert alert-danger text-center py-2">
                            Student Profile Data Not Available
                        </div>
                </ng-container>
               </div>
            </div>
        </mat-card-content>
</mat-card>