<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">Masters</li>
        <li class="breadcrumb-item" aria-current="page">Student Registration</li>
        <li class="breadcrumb-item active" aria-current="page">Student Profile</li>
    </ol>
</nav>
<mat-card class="plain-card h-100">
    <mat-card-header class="card-header">
        <div class="d-flex justify-content-between align-items-center w-100">
            <h6 class="text-main mb-0 fw-bold">Student Profile</h6>
            <div class="d-flex align-items-center gap-2">
            </div>
        </div>
    </mat-card-header>
    <mat-card-header class="card-header mb-0 border-0 pb-0">
        <form [formGroup]="filterFrm">
        <div class="row w-100">
            <div class="col-sm-3">
                <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>{{'common.select_school'|translate}}</mat-label>
                    <mat-select formControlName="schoolId"   (selectionChange)="getStandard(lang,filterFrm.value.schoolId);">
                        <mat-option *ngFor="let school of schoolArray" [value]="school.id">{{school.schoolName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'student.select_standard'|translate}}</mat-label>
                    <mat-select formControlName="standardId">
                        <mat-option *ngFor="let standard of standardArray" [value]="standard.id">
                            {{standard.standard}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'student.fullName'|translate}}</mat-label>
                    <input matInput placeholder="Enter student name" formControlName="searchText">
                </mat-form-field>
            </div>
            <div class="col-sm-auto">
                <button (click)="getTableData('filter')" type="submit" mat-flat-button
                  class="btn-main me-2">{{'common.filter'|translate}}</button>
                <button mat-flat-button class="btn-second" (click)="clearForm()">{{'common.clear'|translate}}</button>
              </div>
        </div>
    </form>
    </mat-card-header>

    <mat-card-content class="card-body pt-0">
        <div class="row">
            <div class="col-sm-5">
                <app-table-grid (recObjToChild)="childCompInfo($event)"></app-table-grid>
            </div>
            <div class="col-sm-7">
                <div class="student-bg">
                    <h5 class="text-primary">प्रोफाइल</h5>
                </div>
                <div class="student-details">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img src="{{dataArray?.profilePhoto}}" alt="Student Photo">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 class="mb-1 fw-bold">{{dataArray?.f_Name}}</h5>
                            <p class="text-muted mb-4">{{'common.name'|translate}}</p>

                            <div class="data-container">
                                <div class="row mb-3 justify-content-between">
                                    <div class="col-sm-4">
                                        <span class="data-label">{{'student.middle_name'|translate}}</span>
                                        <div class="data-text">{{dataArray?.m_Name}}</div>
                                    </div>
                                    <div class="col-sm-4">
                                        <span class="data-label">{{'common.mobile_number'|translate}}</span>
                                        <div class="data-text">{{dataArray?.parentsMobileNo}}</div>
                                    </div>
                                    <div class="col-sm-4">
                                        <span class="data-label">{{'student.aadhar_card_number'|translate}}</span>
                                        <div class="data-text">{{dataArray?.aadharNo}}</div>
                                    </div>
                                </div>
                                <div class="row mb-3 justify-content-between">
                                    <div class="col-sm-4">
                                        <span class="data-label">{{'common.school_name'|translate}}</span>
                                        <div class="data-text">{{dataArray?.schoolName}}</div>
                                    </div>
                                    <div class="col-sm-4">
                                        <span class="data-label">{{'student.standard'|translate}}</span>
                                        <div class="data-text">{{dataArray?.standard}}</div>
                                    </div>
                                    <div class="col-sm-4">
                                        <span class="data-label">{{'student_profile.class_teacher'|translate}}</span>
                                        <div class="data-text">{{dataArray?.teacherName}}</div>
                                    </div>
                                </div>
                            </div>

                            <mat-card class="plain-card border">
                                <mat-card-header class="card-header pb-0 border-bottom-0">
                                    <div class="d-flex justify-content-start align-items-center w-100">
                                        <div class="fw-bold flex-fill align-self-start">प्रगती सूचक</div>
                                       <div class="flex-fill">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Favorite food</mat-label>
                                            <mat-select>
                                              <mat-option *ngFor="let food of foods" [value]="food.value">
                                                {{food.viewValue}}
                                              </mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                       </div>
                                    </div>
                                </mat-card-header>
                                <mat-card-content class="card-body">
                                    chart
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </mat-card-content>

</mat-card>