<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">Settings</li>
        <li class="breadcrumb-item active" aria-current="page">Language Setting</li>
    </ol>
</nav>
<mat-card class="plain-card">
    <mat-card-header class="card-header">
        <h6 class="text-main mb-0">Language Setting</h6>
    </mat-card-header> 
    <mat-card-content class="card-body">
        Table
    </mat-card-content>
    <mat-card-footer class="card-footer">
        <div class="d-flex justify-content-end align-items-center w-100">
            <button mat-stroked-button class="btn-second me-2">Cancel</button>
            <button mat-stroked-button class="btn-main">Submit</button>
        </div>
    </mat-card-footer>
</mat-card>
