<mat-card class="plain-card">
    <form [formGroup]="studentFrm" (ngSubmit)="onClickSubmit()" #formDirective="ngForm">
    <mat-card-header class="card-header">
        <div class="d-flex align-items-center justify-content-between w-100">
            <h6 class="text-main mb-0 fw-bold">Register Student</h6>
            <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content class="card-body">

        
            <div class="row g-4 mb-3">
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>District</mat-label>
                        <mat-select placeholder="Select" formControlName="districtId" (selectionChange)="getTaluka(this.studentFrm.value.districtId)">
                            <mat-option *ngFor="let district of districtArray"
                                [value]="district.id">{{district.district}}
                            </mat-option>
                        </mat-select>
                        <mat-error class="mt-2">
                            District Is Required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>Taluka</mat-label>
                        <mat-select placeholder="Select" formControlName="talukaId" (selectionChange)="getCenter(studentFrm.value.talukaId)">
                            <mat-option *ngFor="let taluka of talukaArray" [value]="taluka.id">{{taluka.taluka}}
                            </mat-option>
                        </mat-select>
                        <mat-error class="mt-2">
                            <span >Taluka Is Required</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>Kendra</mat-label>
                        <mat-select placeholder="Select" formControlName="centerId"
                            (selectionChange)="getSchool(lang,studentFrm.value.centerId)">
                            <mat-option *ngFor="let center of centerArray" [value]="center.id">{{center.center}}
                            </mat-option>
                        </mat-select>
                        <mat-error class="mt-2" *ngIf="f['centerId'].hasError('required')">
                            Kendra Is Required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>School</mat-label>
                        <mat-select placeholder="Select" formControlName="schoolId">
                            <mat-option *ngFor="let school of schoolArray" [value]="school.id">{{school.schoolName}}
                            </mat-option>
                        </mat-select>
                        <mat-error class="mt-2" *ngIf="f['schoolId'].hasError('required')">
                            School Is Required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>Standard</mat-label>
                        <mat-select placeholder="Select" formControlName="standardId">
                            <mat-option *ngFor="let stand of standardArray" [value]="stand.id">{{stand.standard}}
                            </mat-option>
                        </mat-select>
                        <mat-error class="mt-2" *ngIf="f['standardId'].hasError('required')">
                            Standard Is Required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Parent Contact No</mat-label>
                        <input matInput placeholder="Enter Parent Contact No Here" formControlName="parentsMobileNo"
                        (keypress)="validation.onlyDigits($event)"
                            (keyup)="validation.removeSpaceAtBegining($event)" maxlength="10">
                        <mat-error *ngIf="f['parentsMobileNo'].errors">
                            <span class="text-danger" *ngIf="f['parentsMobileNo'].hasError('required')">
                                Please Enter Contact Number
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="Enter First Name Here" formControlName="f_Name"
                        (keypress)="validation.alphabetsWithSpaces($event)"
                        (keyup)="validation.removeSpaceAtBegining($event)">
                        <mat-error *ngIf="f['f_Name'].errors">
                            <span class="text-danger" *ngIf="f['f_Name'].hasError('required')">
                                Please Enter First Name
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Middle Name</mat-label>
                        <input matInput placeholder="Enter Middle Name Here" formControlName="m_Name"
                        (keypress)="validation.alphabetsWithSpaces($event)"
                        (keyup)="validation.removeSpaceAtBegining($event)">
                        <mat-error *ngIf="f['m_Name'].errors">
                            <span class="text-danger" *ngIf="f['m_Name'].hasError('required')">
                                Please Enter Middle Name
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Enter Last Name Here" formControlName="l_Name"
                        (keypress)="validation.alphabetsWithSpaces($event)"
                        (keyup)="validation.removeSpaceAtBegining($event)">
                        <mat-error *ngIf="f['l_Name'].errors">
                            <span class="text-danger" *ngIf="f['l_Name'].hasError('required')">
                                Please Enter Last Name
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                  <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Saral ID</mat-label>
                        <input matInput placeholder="Enter Saral ID Here" formControlName="saralId"
                        (keypress)="validation.alphaNumeric($event)"
                        (keyup)="validation.removeSpaceAtBegining($event)">
                        <mat-error *ngIf="f['l_Name'].errors">
                            <span class="text-danger" *ngIf="f['l_Name'].hasError('required')">
                                Please Enter Saral Id
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>Gender</mat-label>
                        <mat-select placeholder="Select" formControlName="genderId">
                            <mat-option *ngFor="let gender of genderArray" [value]="gender.id">{{gender.gender}}
                            </mat-option>
                        </mat-select>
                        <mat-error class="mt-2" *ngIf="f['genderId'].hasError('required')">
                            Gender Is Required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Birth Date</mat-label>
                        <input matInput [matDatepicker]="picker"  [readonly]="true" placeholder="Enter Birth Date Here..."
                        formControlName="dob" (click)="picker.open()">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error class="mt-2" *ngIf="f['dob'].hasError('required')">
                        Birth Date Is Required
                    </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Aadhar Card</mat-label>
                        <input matInput placeholder="Image upload" placeholder="Enter Aadhar Card Number Here..."  formControlName="aadharNo"
                      (keyup)="validation.removeSpaceAtBegining($event)" maxlength="12">
                        <mat-error *ngIf="f['aadharNo'].errors">
                            <span class="text-danger" *ngIf="f['aadharNo'].hasError('required')">
                                Please Enter Aadhar Number
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>Religion</mat-label>
                        <mat-select placeholder="Select" formControlName="religionId">
                            <mat-option *ngFor="let religion of religionArray"
                                [value]="religion.id">{{religion.religion}}
                            </mat-option>
                        </mat-select>
                        <mat-error class="mt-2" *ngIf="f['religionId'].hasError('required')">
                            Religion Is Required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Caste</mat-label>
                        <input matInput placeholder="Enter Caste Here" formControlName="cast"
                        (keypress)="validation.alphabetsWithSpaces($event)"
                        (keyup)="validation.removeSpaceAtBegining($event)">
                        <mat-error *ngIf="f['cast'].errors">
                            <span class="text-danger" *ngIf="f['cast'].hasError('required')">
                                Please Enter Caste Name
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
       
    </mat-card-content>
    <mat-card-footer class="card-footer">
        <div class="d-flex align-items-center justify-content-end w-100">
            <button mat-stroked-button class="btn-second me-2" (click)="clearForm()">Cancel</button>
            <button mat-flat-button class="btn-main" type="submit">{{editFlag ? 'Update' : 'Submit'}}</button>
        </div>
    </mat-card-footer>
</form>
</mat-card>