<form [formGroup]="studentFrm" (ngSubmit)="onClickSubmit()" #formDirective="ngForm">
    <mat-card class="plain-card">
        <mat-card-header class="card-header">
            <div class="d-flex align-items-center justify-content-between w-100">
                <h6 class="text-main mb-0 fw-bold">{{data ? ('student.update_Student'|translate ) :
                    ('student.register_student'|translate)}}</h6>
                <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </mat-card-header>
        <mat-card-content class="card-body">


            <div class="row gy-2">
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100" [class.disabled]="studentFrm.value.districtId">
                        <mat-label>{{'common.district'|translate}}</mat-label>
                        <mat-select formControlName="districtId"
                            (selectionChange)="getTaluka(this.studentFrm.value.districtId)">
                            <mat-option *ngFor="let district of districtArray"
                                [value]="district.id">{{district.district}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 " [class.disabled]="disabledTaluka">
                        <mat-label>{{'common.taluka'|translate}}</mat-label>
                        <mat-select formControlName="talukaId"
                            (selectionChange)="clearDropdown('talukaId');getCenter(studentFrm.value.talukaId);">
                            <mat-option *ngFor="let taluka of talukaArray" [value]="taluka.id">{{taluka.taluka}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 "
                        [class.disabled-contenct]="(levelId==4 || levelId==5)">
                        <mat-label>{{'common.kendra'|translate}}</mat-label>
                        <mat-select formControlName="centerId"
                            (selectionChange)="clearDropdown('centerId');getSchool(studentFrm.value.centerId);">
                            <mat-option *ngFor="let center of centerArray" [value]="center.id">{{center.center}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
                <div class="col-sm-12">
                    <mat-form-field appearance="outline" class="w-100 " [class.disabled-contenct]="levelId == 5">
                        <mat-label>{{'common.school'|translate}}</mat-label>
                        <mat-select formControlName="schoolId"
                            (selectionChange)="getStandard(studentFrm.value.schoolId);clearDropdown('schoolId');">
                            <mat-option *ngFor="let school of schoolArray" [value]="school.id">{{school.schoolName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label> {{'student.standard'|translate}}</mat-label>
                        <mat-select formControlName="standardId">
                            <mat-option *ngFor="let stand of standardArray" [value]="stand.id">{{stand.standard}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'common.mobile_number'|translate}}</mat-label>
                        <input matInput formControlName="parentsMobileNo" (keypress)="validation.onlyDigits($event)"
                            (keyup)="validation.noFirstSpaceAllow($event)" maxlength="10">
                        <mat-error *ngIf="f['parentsMobileNo']?.errors">
                            <span class="text-danger" *ngIf="f['parentsMobileNo'].hasError('pattern')">
                                {{'student.please_enter_valid_mobile_Number' | translate}}
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'student.saral_id'|translate}}</mat-label>
                        <input matInput formControlName="saralId" maxlength="20"
                            (keypress)="validation.alphaNumeric($event)" (keyup)="validation.noFirstSpaceAllow($event)">
                        <mat-error *ngIf="f['saralId']?.errors">
                            <span class="text-danger" *ngIf="f['saralId'].hasError('minlength')">
                                {{'school.please_enter_atleast_2_alphanumeric'|translate}}
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'student.first_name'|translate}}</mat-label>
                        <input matInput formControlName="f_Name" maxlength="20"
                            (keypress)="validation.alphabetsWithSpaces($event)"
                            (keyup)="validation.noFirstSpaceAllow($event)">
                        <mat-error *ngIf="f['f_Name']?.errors">
                            <span class="text-danger"
                                *ngIf="f['f_Name'].hasError('minlength') && f['f_Name'].hasError('pattern')">
                                {{'student.please_enter_valid_first_Name' | translate}}
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'student.middle_name'|translate}}</mat-label>
                        <input matInput formControlName="m_Name" maxlength="20"
                            (keypress)="validation.alphabetsWithSpaces($event)"
                            (keyup)="validation.noFirstSpaceAllow($event)">
                        <mat-error *ngIf="f['m_Name']?.errors">
                            <span class="text-danger"
                                *ngIf="f['m_Name'].hasError('minlength') && f['m_Name'].hasError('pattern')">
                                {{'student.please_enter_valid_middle_Name' | translate}}
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'student.last_name'|translate}}</mat-label>
                        <input matInput formControlName="l_Name" maxlength="20"
                            (keypress)="validation.alphabetsWithSpaces($event)"
                            (keyup)="validation.noFirstSpaceAllow($event)">
                        <mat-error *ngIf="f['l_Name']?.errors">
                            <span class="text-danger"
                                *ngIf="f['l_Name'].hasError('minlength') && f['l_Name'].hasError('pattern')">
                                {{'student.please_enter_valid_last_Name' | translate}}
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- marathi -->
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'student.mar_first_name'|translate}}</mat-label>
                        <input matInput formControlName="f_Name_Mar" maxlength="20"
                            (keypress)="validation.noFirstSpaceAllow($event);validation.unicodeMarathiValidation($event)">
                        <mat-error *ngIf="f['f_Name_Mar']?.errors">
                            <span class="text-danger" *ngIf="f['f_Name_Mar'].hasError('pattern')">
                                {{'student.please_enter_valid_first_Name' | translate}}
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'student.mar_middle_name'|translate}}</mat-label>
                        <input matInput formControlName="m_Name_Mar" maxlength="20"
                            (keypress)="validation.noFirstSpaceAllow($event);validation.unicodeMarathiValidation($event)">
                        <mat-error *ngIf="f['m_Name_Mar']?.errors">
                            <span class="text-danger" *ngIf="f['m_Name_Mar'].hasError('pattern')">
                                {{'student.please_enter_valid_middle_Name' | translate}}
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'student.mar_last_name'|translate}}</mat-label>
                        <input matInput formControlName="l_Name_Mar" maxlength="20"
                            (keypress)="validation.noFirstSpaceAllow($event);validation.unicodeMarathiValidation($event)">
                        <mat-error *ngIf="f['l_Name_Mar']?.errors">
                            <span class="text-danger" *ngIf="f['l_Name_Mar'].hasError('pattern')">
                                {{'student.please_enter_valid_last_Name' | translate}}
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'student.gender'|translate}}</mat-label>
                        <mat-select formControlName="genderId">
                            <mat-option *ngFor="let gender of genderArray" [value]="gender.id">{{gender.gender}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'student.birth_date'|translate}}</mat-label>
                        <input matInput [matDatepicker]="picker" [readonly]="true" [max]="todayDate"
                            formControlName="dob" (click)="picker.open()">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'student.aadhar_card_number'|translate}}</mat-label>
                        <input matInput formControlName="aadharNo" (keyup)="validation.noFirstSpaceAllow($event)"
                            (keypress)="validation.onlyDigits($event)" maxlength="12">
                        <mat-error *ngIf="f['aadharNo']?.errors">
                            <span class="text-danger" *ngIf="f['aadharNo'].hasError('pattern')">
                                {{'student.please_enter_valid_aadhar_Number' | translate}}
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'student.religion'|translate}}</mat-label>
                        <mat-select formControlName="religionId">
                            <mat-option *ngFor="let religion of religionArray"
                                [value]="religion.id">{{religion.religion}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'student.caste'|translate}}</mat-label>
                        <mat-select formControlName="castId">
                            <mat-option *ngFor="let caste of casteArray" [value]="caste.id">{{caste.castName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

        </mat-card-content>
        <mat-card-footer class="card-footer">
            <div class="d-flex align-items-center justify-content-end w-100">
                <button mat-stroked-button class="btn-second me-2" type="button"
                    (click)="clearForm()">{{'common.cancel'|translate}}</button>
                <button mat-flat-button class="btn-main" type="submit">{{data ? 'Update' :
                    ('common.submit'|translate)}}</button>
            </div>
        </mat-card-footer>
    </mat-card>
</form>