<mat-card class="plain-card">
    <mat-card-header class="card-header mb-3">
        <div class="d-flex justify-content-between align-items-center w-100">
            <h6 class="text-main mb-0">Register Designation </h6>
            <button class="btn" [mat-dialog-close]="true"><mat-icon>
                close
                </mat-icon></button>
        </div>
        </mat-card-header>
</mat-card>
<mat-card-content>
    <div class="row">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Designation Level</mat-label>
            <mat-select>
                <mat-option>Option 1</mat-option>
                <mat-option>Option 2</mat-option>
                <mat-option>Option 3</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Designation Type</mat-label>
            <mat-select>
                <mat-option>Option 1</mat-option>
                <mat-option>Option 2</mat-option>
                <mat-option>Option 3</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Set Designation Level</mat-label>
            <mat-select>
                <mat-option>Option 1</mat-option>
                <mat-option>Option 2</mat-option>
                <mat-option>Option 3</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Add Designation</mat-label>
            <input matInput placeholder="Add Designation">
          </mat-form-field>
    </div>
    <div class="row">
        <div class="d-flex justify-content-between">
            <button class="btn bg-secondary-outline">Clear</button>
            <button class="btn btn-main">Submit</button>
        </div>
    </div>
</mat-card-content>