<!-- <a class="dropdown-item" (click)="onChangeLanguage('English')">English</a>
<a class="dropdown-item" (click)="onChangeLanguage('Marathi')">Marathi</a> -->
<div class="container-fluid" id="topbar">
  <div class="container">
    <div class="row justify-content-lg-end align-items-center justify-content-center">
      <div class="col-sm-auto col-auto">
        <a href="#">Skip to Main Content</a>
      </div>
      <div class="col-sm-auto col-auto border-start border-end">
        <button type="button" class="btn-color default me-2"></button>
        <button type="button" class="btn-color dark"></button>
      </div>
      <div class="col-sm-auto col-auto">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked
            (click)="onChangeLanguage('English')">
          <label class="btn btn-outline-primary" for="btnradio1">English</label>

          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
            (click)="onChangeLanguage('Marathi')">
          <label class="btn btn-outline-primary" for="btnradio2">Marathi</label>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo.png" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      Menu
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Navigation Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-start flex-grow-1 ps-lg-5 ps-0 align-items-lg-center align-items-start">
          <li class="nav-item mb-3 mb-lg-0">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item mb-3 mb-lg-0">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item mb-3 mb-lg-0">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
        <div class="d-block me-3 p-1 mb-3 mb-lg-0">
          <div class="d-flex align-items-center">
            <a class="btn-login" routerLink="../login">Login</a>
          </div>
        </div>
        <div class="d-flex gap-3 justify-content-evenly">
          <img src="assets/images/home/Aazadi-ka-Amrut-mahotsv.png" class="india-logo align-self-start">
          <img src="assets/images/home/Swachh-Bharat-Logo.png" class="india-logo align-self-start">
        </div>
      </div>
    </div>
  </div>
</nav>
<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 order-1">
        <h6>START TO NEW JOURNEY</h6>
        <h1>Best <span>Online</span> Courses from Mulyankan</h1>
        <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
          the
          industry's standard dummy text ever since the 1500s</p>
        <div class="text-center text-lg-start">
          <a class="btn-readmore" routerLink="">Read More</a>
        </div>
      </div>
      <div class="col-sm-7 d-sm-block d-lg-none order-0 px-0">
        <img src="assets/images/home/Sudent-image.png" class="w-100 mb-5 mb-lg-0">
      </div>
      <div class="student-image d-none d-sm-none d-lg-block">
        <img src="assets/images/home/Sudent-image.png">
      </div>
    </div>
  </div>
</div>

<div class="container" id="ministers">
  <div class="row g-3">
    <div class="col-sm-4">
      <div class="card card-body">
        <div class="d-flex align-items-center">
          <div class="flex-shrink-0">
            <img src="assets/images/home/Sudhir-Mungantiwar.png" alt="Sudhir-Mungantiwar">
          </div>
          <div class="flex-grow-1 ms-3">
            <h6>Shri. Sudhir Mungantiwar</h6>
            <p>Guardian Minister, Chandrapur</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card card-body">
        <div class="d-flex align-items-center">
          <div class="flex-shrink-0">
            <img src="assets/images/home/Vinay-Gowda.png" alt="Vinay-Gowda">
          </div>
          <div class="flex-grow-1 ms-3">
            <h6>Shri. Vinay Gowda G C (IAS)</h6>
            <p>Collector, Chandrapur</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card card-body">
        <div class="d-flex align-items-center">
          <div class="flex-shrink-0">
            <img src="assets/images/home/Vivek-Johnson.png" alt="Vivek-Johnson">
          </div>
          <div class="flex-grow-1 ms-3">
            <h6>Shri. Vivek Johnson IAS,</h6>
            <p>Chief Executive Officer, Zilla Parishad, Chandrapur.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="aboutus">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6 text-center">
        <img src="assets/images/home/About-Image.png" class="img-fluid mb-4 mb-lg-0">
      </div>
      <div class="col-sm-5">
        <h6>GET TO KNOW US</h6>
        <h2>Grow Your skills learn with us from anywhere</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and
          typesetting industry. Lorem Ipsum has been the industry's.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and
          typesetting industry. Lorem Ipsum has been the industry's.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and
          typesetting industry. Lorem Ipsum has been the industry's.</p>

        <div class="text-center text-lg-start">
          <a class="btn-readmore" routerLink="">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="app-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6 text-center">
        <h2>Quick & Easy Process with Best Features</h2>
        <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's.</h6>
      </div>
    </div>
    <div class="row align-items-center gx-1">
      <div class="col-sm order-1 order-lg-0">
        <div class="d-flex media">
          <div class="flex-shrink-0">
            <i class='bx bxl-sketch'></i>
          </div>
          <div class="flex-grow-1 ms-3">
            <h5>Responsive Web design</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's.</p>
          </div>
        </div>
        <div class="d-flex media">
          <div class="flex-shrink-0">
            <i class='bx bxl-sketch'></i>
          </div>
          <div class="flex-grow-1 ms-3">
            <h5>Responsive Web design</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's.</p>
          </div>
        </div>
        <div class="d-flex media">
          <div class="flex-shrink-0">
            <i class='bx bxl-sketch'></i>
          </div>
          <div class="flex-grow-1 ms-3">
            <h5>Responsive Web design</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-5 order-0 order-lg-1">
        <img src="assets/images/home/App-Image.png" class="img-fluid w-100">
      </div>
      <div class="col-sm order-2 order-lg-2">
        <div class="d-flex media">
          <div class="flex-shrink-0">
            <i class='bx bxl-sketch'></i>
          </div>
          <div class="flex-grow-1 ms-3">
            <h5>Responsive Web design</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's.</p>
          </div>
        </div>
        <div class="d-flex media">
          <div class="flex-shrink-0">
            <i class='bx bxl-sketch'></i>
          </div>
          <div class="flex-grow-1 ms-3">
            <h5>Responsive Web design</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's.</p>
          </div>
        </div>
        <div class="d-flex media">
          <div class="flex-shrink-0">
            <i class='bx bxl-sketch'></i>
          </div>
          <div class="flex-grow-1 ms-3">
            <h5>Responsive Web design</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="text-center text-lg-start">
          <img src="assets/images/home/Mulyankan-white.svg">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's.</p>
          <div class="social-icons mb-5 mb-lg-0 justify-content-center justify-content-lg-start">
            <a href="" target="_blank">
              <i class='bx bxl-facebook'></i>
            </a>
            <a href="" target="_blank">
              <i class='bx bxl-instagram'></i>
            </a>
            <a href="" target="_blank">
              <i class='bx bxl-twitter'></i>
            </a>
            <a href="" target="_blank">
              <i class='bx bx-envelope'></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm col-6">
        <h4>Explore</h4>
        <ul>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">News & Articles</a></li>
          <li><a href="#">FAQ's</a></li>
          <li><a href="#">Sign In / Registration</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-sm col-6">
        <h4>Links</h4>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Courses</a></li>
          <li><a href="#">Instructor</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Instructor Profile</a></li>
        </ul>
      </div>
      <div class="col-sm-4 mt-5 mt-lg-0">
        <h4>Contact</h4>
        <div class="d-flex contact">
          <div class="flex-shrink-0">
            <i class='bx bx-phone'></i>
          </div>
          <div class="flex-grow-1 ms-3">
            +91 9876543210
          </div>
        </div>
        <div class="d-flex contact">
          <div class="flex-shrink-0">
            <i class='bx bx-envelope'></i>
          </div>
          <div class="flex-grow-1 ms-3">
            con@gmail.com
          </div>
        </div>
        <div class="d-flex contact">
          <div class="flex-shrink-0">
            <i class='bx bx-map'></i>
          </div>
          <div class="flex-grow-1 ms-3">
            Shankarsheth Road, Swargate, Pune, 411037
          </div>
        </div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter Email ID">
          <button type="button"><i class='bx bx-right-arrow-alt'></i></button>
        </div>

      </div>
    </div>
  </div>
</footer>