<mat-card class="plain-card">
    <mat-card class="card-header mb-3">
        <div class="d-flex justify-content-between align-items-center">
            <h6 class="text-main mb-0">Register Users</h6>
            <button class="btn" [mat-dialog-close]="true">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-card>
    <mat-card-content>
        <div class="row gy-2 gx-2">
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>User Type</mat-label>
                    <mat-select>
                        <mat-option>Option 1</mat-option>
                        <mat-option>Option 2</mat-option>
                        <mat-option>Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Level</mat-label>
                    <mat-select>
                        <mat-option>Option 1</mat-option>
                        <mat-option>Option 2</mat-option>
                        <mat-option>Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Designation</mat-label>
                    <mat-select>
                        <mat-option>Option 1</mat-option>
                        <mat-option>Option 2</mat-option>
                        <mat-option>Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>District</mat-label>
                    <mat-select>
                        <mat-option>Option 1</mat-option>
                        <mat-option>Option 2</mat-option>
                        <mat-option>Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Taluka</mat-label>
                    <mat-select>
                        <mat-option>Option 1</mat-option>
                        <mat-option>Option 2</mat-option>
                        <mat-option>Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Kendra</mat-label>
                    <mat-select>
                        <mat-option>Option 1</mat-option>
                        <mat-option>Option 2</mat-option>
                        <mat-option>Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>School</mat-label>
                    <mat-select>
                        <mat-option>Option 1</mat-option>
                        <mat-option>Option 2</mat-option>
                        <mat-option>Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Agency Name</mat-label>
                    <mat-select>
                        <mat-option>Option 1</mat-option>
                        <mat-option>Option 2</mat-option>
                        <mat-option>Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Enter Name">
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Contact Person</mat-label>
                    <input matInput placeholder="Enter contact person name">
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput placeholder="Enter contact person name">
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter Email Id">
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Agency Address</mat-label>
                    <input matInput placeholder="Enter agency Address">
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer class="card-footer"> 
        <div class="d-flex justify-content-between align-items-center w-100">
            <button mat-stroked-button class="btn-secondary-outline">Cancel</button>
            <button mat-stroked-button class="btn-main">Submit</button>
        </div>
    </mat-card-footer>
</mat-card>