<mat-card class="plain-card">
    <mat-card-header class="card-header">
        <div class="d-flex justify-content-between align-items-center w-100">
            <h6 class="text-main mb-0 fw-bold">{{this.data?('user_Registration.update_user'| translate):('user_Registration.register_users' | translate)}}</h6>
            <button class="btn-modal-close" [mat-dialog-close]="true" mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <form [formGroup]="userRegistrationForm" #formDirective="ngForm">
    <mat-card-content class="card-body">
            <div class="row mb-3">
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'user_Registration.user_type' |translate}}</mat-label>
                        <mat-select formControlName="userTypeId"
                            (selectionChange)="getUserLevel(userRegistrationForm.value.userTypeId);this.addRemoveValidation();clearDropdown('userType')">
                            <mat-option *ngFor="let type of userTypeArr"
                                [value]="type.userTypeId">{{type.userType}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline" class="w-100" [class.disabled-contenct]="!userRegistrationForm.value.userTypeId">
                            <mat-label>{{'user_Registration.level' |translate}}</mat-label>
                            <mat-select formControlName="designationLevelId" 
                                (selectionChange)="getDesignation(userRegistrationForm.value.designationLevelId);clearDropdown('designationLevel')">
                                <mat-option *ngFor="let level of userLevelArr"
                                    [value]="level.id">{{level.desingationLevel}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <ng-container *ngIf="userRegistrationForm.value.userTypeId!=4">
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline" class="w-100" [class.disabled-contenct]="!userRegistrationForm.value.designationLevelId">
                            <mat-label>{{'common.designation' |translate}}</mat-label>
                            <mat-select formControlName="designationId">
                                <mat-option *ngFor="let designation of designationArr"
                                    [value]="designation.id">{{designation.desingationTypes}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </ng-container>
                <ng-container *ngIf="userRegistrationForm.value.userTypeId==4">
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'common.agency_name' |translate}}</mat-label>
                            <mat-select formControlName="agencyId">
                                <mat-option *ngFor="let agency of agencyArr"
                                    [value]="agency.id">{{agency.agencyName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </ng-container>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100" [class.disabled-contenct]="userRegistrationForm.value.districtId">
                        <mat-label>{{'common.district' |translate}}</mat-label>
                        <mat-select formControlName="districtId" 
                            (selectionChange)="getTaluka(userRegistrationForm.value.districtId);clearDropdown('district')"
                           >
                            <mat-option *ngFor="let dist of districtArr"
                                [value]="dist.id">{{dist.district}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <ng-container *ngIf="userRegistrationForm.value.userTypeId!=2 && userRegistrationForm.value.designationLevelId!=2">
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'common.taluka' |translate}}</mat-label>
                            <mat-select formControlName="talukaId"
                                (selectionChange)="getKendra(userRegistrationForm.value.talukaId);clearDropdown('taluka')">
                                <mat-option *ngFor="let taluka of talukaArr"
                                    [value]="taluka.id">{{taluka.taluka}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </ng-container>
                <ng-container *ngIf="userRegistrationForm.value.userTypeId!=2 && (userRegistrationForm.value.designationLevelId==4 || userRegistrationForm.value.designationLevelId==5)">
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline" class="w-100"  >
                            <mat-label>{{'common.kendra' |translate}}</mat-label>
                            <mat-select formControlName="centerId"
                                (selectionChange)="getSchoolName(userRegistrationForm.value.centerId);clearDropdown('center')">
                                <mat-option *ngFor="let kendra of kendraArr"
                                    [value]="kendra.id">{{kendra.center}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </ng-container>
                <ng-container *ngIf="userRegistrationForm.value.userTypeId==3">
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline" class="w-100" [class.disabled-contenct]="!userRegistrationForm.value.centerId">
                            <mat-label>{{'common.school' |translate}}</mat-label>
                            <mat-select formControlName="schoolId" (selectionChange)="getAllClassGroup(userRegistrationForm.value.schoolId);clearDropdown('school')">
                                <mat-option *ngFor="let school of schoolArr"
                                    [value]="school.id">{{school.schoolName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </ng-container>
                    <ng-container *ngIf="userRegistrationForm.value.userTypeId==3">
                        <div class="col-sm-4">
                            <mat-form-field  appearance="outline" class="w-100" [class.disabled-contenct]="!userRegistrationForm.value.schoolId">
                                <mat-label>{{'user_Registration.class' |translate}}</mat-label>
                                <mat-select formControlName="standardModels" multiple (selectionChange)="clearDropdown('class')">
                                  <mat-option *ngFor="let class of classArr" [value]="class.id">{{class.standard}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="userRegistrationForm.value.userTypeId==3">
                        <div class="col-sm-4">
                            <mat-form-field  appearance="outline" class="w-100">
                                <mat-label>{{'user_Registration.subjects' |translate}}</mat-label>
                                <mat-select formControlName="subjectModels" multiple>
                                    <mat-option *ngFor="let subject of subjectArr" [value]="subject.id">{{subject.subject}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </ng-container>
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'common.name' |translate}}</mat-label>
                            <input matInput placeholder="{{'common.name' |translate}}"
                                formControlName="name" (keypress)="validation.alphabetsWithSpaces($event);validation.noFirstSpaceAllow($event)">
                            <mat-error *ngIf="f['name'].errors">
                                <span class="text-danger" *ngIf="f['name'].hasError('pattern')">
                                  {{'common.Please_enter_valid_name' |translate}}
                                </span> 
                            </mat-error>
                        </mat-form-field>
                    </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'common.mobile_number' |translate}}</mat-label>
                        <input matInput placeholder="{{'common.mobile_number' |translate}}"
                            formControlName="mobileNo" 
                            (keypress)="validation.noFirstSpaceAllow($event);validation.onlyDigits($event)" maxlength="10">
                        <mat-error *ngIf="f['mobileNo'].errors">
                            <span class="text-danger" *ngIf="f['mobileNo'].hasError('pattern')">
                                {{'common.please_enter_valid_contact_number' |translate}}
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'common.email' |translate}}</mat-label>
                        <input matInput placeholder="{{'common.email' |translate}}"
                            formControlName="emailId" 
                            (keypress)="validation.noFirstSpaceAllow($event);validation.emailRegex($event)">
                        <mat-error *ngIf="f['emailId'].errors">
                            <span class="text-danger" *ngIf="f['emailId'].hasError('pattern') || f['emailId'].hasError('email')">
                              {{'agency.please_enter_valid_emailId' |translate}}
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="d-flex justify-content-end align-items-center w-100">
                <button mat-stroked-button type="button" class="btn-second me-2" (click)="clearUserForm(formDirective)">{{'common.cancel' |translate}}</button>
                <button mat-stroked-button type="submit" class="btn-main" (click)="registerUser(formDirective)">{{this.data?('common.update' |translate | translate):('common.submit' |translate | translate)}}</button>
            </div>
    </mat-card-content>
</form>
</mat-card>