<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">{{'dashboard.dashboard' | translate}}</li>
        <!-- <li class="breadcrumb-item active" aria-current="page">Library</li> -->
    </ol>
</nav>
<form [formGroup]="topFilterForm">
    <div class="row">
        <div class="col-sm">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Year</mat-label>
                <mat-select>
                    <mat-option>Option 1</mat-option>
                    <mat-option>Option 2</mat-option>
                    <mat-option>Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>तालुका निवडा</mat-label>

                <mat-select formControlName="talukaId" (selectionChange)="getKendra();cardCountData();clickOnSvgMap('select')">
                    <!-- <mat-option value="0">{{ language != "Marathi"? "All Taluka":'सर्व तालुका'}}</mat-option> -->
                    <mat-option *ngFor="let tal of talukaArray" [value]="tal.id">
                        {{tal.taluka}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>केंद्र निवडा</mat-label>
                <mat-select formControlName="kendraId" [disabled]="topFilterForm.value.talukaId==0 ? true : false"
                    (selectionChange)="getSchools();cardCountData();">
                    <mat-option *ngFor="let cen of centerArray" [value]="cen.id">
                        {{cen.center}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>शाळा निवडा</mat-label>
                <mat-select formControlName="schoolId" [disabled]="!topFilterForm.value.kendraId"
                    (selectionChange)="cardCountData()">
                    <mat-option *ngFor="let schools of schoolArray" [value]="schools.id">
                        {{schools.schoolName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Assessment</mat-label>
                <mat-select>
                    <mat-option>Option 1</mat-option>
                    <mat-option>Option 2</mat-option>
                    <mat-option>Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</form>
<div class="row mb-3" id="dash-stats">
    <div class="col-sm-3">
        <div class="card card-body bg-blue h-100">
            <div class="d-flex justify-content-between align-items-center">
                <div class="position-relative">
                    <img src="assets/images/statistical-icons/School-white.svg" class="bg-image">
                    <p>School</p>
                    <h3>{{cardInfoData?.totalSchools}}</h3>
                </div>
                <div class="right-img">
                    <img src="assets/images/statistical-icons/School.svg">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card card-body bg-cyan h-100">
            <div class="d-flex justify-content-between align-items-center">
                <div class="position-relative">
                    <img src="assets/images/statistical-icons/Teacher-white.svg" class="bg-image">
                    <p>Teachers</p>
                    <h3>{{cardInfoData?.totalTeachers}}</h3>
                </div>
                <div class="right-img">
                    <img src="assets/images/statistical-icons/Teacher.svg">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card card-body bg-voilet h-100">
            <div class="d-flex justify-content-between align-items-center">
                <div class="position-relative">
                    <img src="assets/images/statistical-icons/Student-white.svg" class="bg-image">
                    <p>Students</p>
                    <h3>{{cardInfoData?.totalStudents}}</h3>
                </div>
                <div class="right-img">
                    <img src="assets/images/statistical-icons/Student.svg">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card card-body bg-magenta h-100">
            <div class="d-flex justify-content-between align-items-center">
                <div class="position-relative">
                    <img src="assets/images/statistical-icons/ZP-Officer-white.svg" class="bg-image">
                    <p>ZP Officers</p>
                    <h3>{{cardInfoData?.totalUsers}}</h3>
                </div>
                <div class="right-img">
                    <img src="assets/images/statistical-icons/ZP-Officer.svg">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-4">
        <mat-card class="mb-3 plain-card">
            <mat-card-header class="card-header">
                <h6 class="mb-0">नकाशा</h6>
            </mat-card-header>
            <mat-card-content class="card-body">
                <div id="mapsvg" class="text-center" >
                    <!-- <img src="assets/chandrapur_dist.svg" style="height: 200px;" class=""> -->
                </div>
            </mat-card-content>
        </mat-card>

        <div class="row">
            <div class="col-sm-6"> 
                <mat-card class="plain-card">
                    <mat-card-header class="card-header">
                        Explain the meaning of English words
                    </mat-card-header>
                    <mat-card-content class="card-body">
                        <div id="chart">
                            <apx-chart [series]="piechartOptions?.series" [legend]="piechartOptions?.legend"
                                [chart]="piechartOptions?.chart" [labels]="piechartOptions?.labels"
                                [responsive]="piechartOptions?.responsive"></apx-chart>
                        </div>
                    </mat-card-content>
                </mat-card></div>
            <div class="col-sm-6"> <mat-card class="plain-card">
                    <mat-card-header class="card-header">
                        Explaining the meaning of an English sentence
                    </mat-card-header>
                    <mat-card-content class="card-body">
                        <div id="chart">
                            <apx-chart [series]="piechartSecondOptions?.series" [legend]="piechartSecondOptions?.legend"
                                [chart]="piechartSecondOptions?.chart" [labels]="piechartSecondOptions?.labels"
                                [responsive]="piechartSecondOptions?.responsive"></apx-chart>
                        </div>
                    </mat-card-content>
                </mat-card></div>
        </div>
    </div>
    <div class="col-sm-8">
        <mat-card class="plain-card h-100">
            <mat-card-header class="card-header">
                <h6 class="d-flex align-items-center justify-content-between w-100 mb-0">
                    <div>सर्वेक्षण केलेल्या विद्यार्थ्यांची एकूण संख्या</div>
                    <div>निवडलेली संख्या : <span class="fw-bold">{{selNumber}}</span></div>
                </h6>
            </mat-card-header>
            <mat-card-content class="card-body">
                <table class="table table-bordered inner-table">
                    <thead>
                        <tr>
                            <th *ngFor="let surveyedData of getSurveyedData; let i = index">
                                <input type="checkbox" *ngIf="i > 1" [checked]="surveyedData.checked"  (change)="checkBoxChecked($event, surveyedData?.standardId)">
                                {{surveyedData?.text ? surveyedData?.text : '-'}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td *ngFor="let surveyedData of getSurveyedData">{{surveyedData?.data}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-sm-4 border-end" *ngFor="let barchart of barchartOptions?.series; let i = index">
                        <h6 class="small fw-bold text-center mb-0"> {{getAssesmentData[i].subjectName}}</h6>
                        <apx-chart [series]="barchart" [chart]="barchartOptions?.chart"  [plotOptions]="barchartOptions?.plotOptions"
                            [responsive]="barchartOptions?.responsive" [xaxis]="barchartOptions?.xaxis"
                            [legend]="barchartOptions?.legend" [fill]="barchartOptions?.fill"></apx-chart>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <mat-card class="plain-card">
            <mat-card-header class="card-header">
                <div class="d-flex align-items-center justify-content-between w-100">
                    <h6 class="mb-0">तालुका निहाय मूल्यांकन</h6>
                    <div class="d-flex align-items-center justify-content-between gap-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>कामगिरी</mat-label>
                            <mat-select>
                                <mat-option>Option 1</mat-option>
                                <mat-option>Option 2</mat-option>
                                <mat-option>Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>भाषा निवडा</mat-label>
                            <mat-select>
                                <mat-option>Option 1</mat-option>
                                <mat-option>Option 2</mat-option>
                                <mat-option>Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content class="card-body">

            </mat-card-content>
        </mat-card>
    </div>
</div>