<form [formGroup]="topFilterForm" class="w-mat-form-field w-100">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item w-100" aria-current="page">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <span>{{'dashboard.dashboard' | translate}}</span>
                    <div class="d-flex justify-content-end align-items-center gap-2">
                        <div>{{'dashboard.edu_year' | translate}}</div>
                        <mat-form-field appearance="outline" class="w-50">
                            <!-- <mat-label>Year </mat-label> -->
                            <mat-select formControlName="yearId" [disabled]="educationYearArray?.length == 1">
                                <mat-option *ngFor="let year of  educationYearArray" [value]="year.id">
                                    {{year.year}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </li>
        </ol>
    </nav>

    <div class="row g-2">
        <div class="col-sm-2">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'common.taluka' |translate}}</mat-label>
                <mat-select formControlName="talukaId"
                    (selectionChange)="clearFilterForm('taluka');getKendra();cardCountData();clickOnSvgMap('select');getDynamicDetails();"
                    [disabled]="enbTalDropFlag">
                    <mat-option value="0">All Taluka</mat-option>
                    <mat-option *ngFor="let tal of talukaArray" [value]="tal.id">
                        {{tal.taluka}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'common.kendra' |translate}}</mat-label>
                <mat-select formControlName="kendraId"
                    [disabled]="topFilterForm.value.talukaId==0 ? true : enbCenterDropFlag ? true: false"
                    (selectionChange)="clearFilterForm('kendra');getSchools();cardCountData();getDynamicDetails();">
                    <mat-option value="0" *ngIf="centerArray.length">All Kendra</mat-option>
                    <mat-option *ngFor="let cen of centerArray" [value]="cen.id">
                        {{cen.center}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'common.school' |translate}}</mat-label>
                <mat-select formControlName="schoolId" [disabled]="!topFilterForm.value.kendraId || enbSchoolDropFlag"
                    (selectionChange)="assLabelName='Student Name';cardCountData();getDynamicDetails();">
                    <mat-option value="0" *ngIf="schoolArray.length">All School</mat-option>
                    <mat-option *ngFor="let schools of schoolArray" [value]="schools.id">
                        {{schools.schoolName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'common.assessment' |translate}}</mat-label>
                <mat-select formControlName="assesmentId" (selectionChange)="cardCountData()">
                    <mat-option *ngFor="let ssessments of assessmentsArray" [value]="ssessments.id">
                        {{ssessments.examName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</form>
<div class="row mb-3" id="dash-stats">
    <div [ngClass]="{'col-sm-6':topFilterForm.value.schoolId, 'col-sm-3':topFilterForm.value.schoolId==0}">
        <div class="card card-body bg-voilet h-100">
            <div class="d-flex justify-content-between align-items-center">
                <div class="position-relative">
                    <img src="assets/images/statistical-icons/Student-white.svg" class="bg-image">
                    <p>{{'dashboard.students' |translate}}</p>
                    <h3>{{cardInfoData?.totalStudents}}</h3>
                </div>
                <div class="right-img">
                    <img src="assets/images/statistical-icons/Student.svg">
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{'col-sm-6':topFilterForm.value.schoolId, 'col-sm-3':topFilterForm.value.schoolId ==0}">
        <div class="card card-body bg-cyan h-100">
            <div class="d-flex justify-content-between align-items-center">
                <div class="position-relative">
                    <img src="assets/images/statistical-icons/Teacher-white.svg" class="bg-image">
                    <p>{{'dashboard.teachers' |translate}}</p>
                    <h3>{{cardInfoData?.totalTeachers}}</h3>
                </div>
                <div class="right-img">
                    <img src="assets/images/statistical-icons/Teacher.svg">
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{'d-none':topFilterForm.value.schoolId, 'col-sm-3':topFilterForm.value.schoolId ==0}">
        <div class="card card-body bg-blue h-100">
            <div class="d-flex justify-content-between align-items-center">
                <div class="position-relative">
                    <img src="assets/images/statistical-icons/School-white.svg" class="bg-image">
                    <p>{{'user_Registration.school' |translate}}</p>
                    <h3>{{cardInfoData?.totalSchools}}</h3>
                </div>
                <div class="right-img">
                    <img src="assets/images/statistical-icons/School.svg">
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{'d-none':topFilterForm.value.schoolId, 'col-sm-3':topFilterForm.value.schoolId ==0}">
        <div class="card card-body bg-magenta h-100">
            <div class="d-flex justify-content-between align-items-center">
                <div class="position-relative">
                    <img src="assets/images/statistical-icons/ZP-Officer-white.svg" class="bg-image">
                    <p>{{'dashboard.zpOfficers' |translate}}</p>
                    <h3>{{cardInfoData?.totalUsers}}</h3>
                </div>
                <div class="right-img">
                    <img src="assets/images/statistical-icons/ZP-Officer.svg">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3 g-2">
    <div class="col-sm-4">
        <mat-card class="mb-3 plain-card">
            <mat-card-header class="card-header pb-0">
                <h6 class="mb-0">{{'dashboard.map' | translate}}</h6>
            </mat-card-header>
            <mat-card-content class="card-body pt-0">
                <div id="mapsvg" class="text-center">
                </div>
            </mat-card-content>
        </mat-card>

        <div class="row g-2">
            <div class="col-sm-6">
                <mat-card class="plain-card">
                    <mat-card-header class="card-header">
                        <h6 class="mb-0"><small> {{'dashboard.meaning_of_english_words' | translate}}</small></h6>
                    </mat-card-header>
                    <mat-card-content class="card-body">
                        <div id="chart" *ngIf="piechartOptionstData?.length; else elseBlock">
                            <apx-chart [series]="piechartOptions?.series" [legend]="piechartOptions?.legend"
                                [chart]="piechartOptions?.chart" [labels]="piechartOptions?.labels"
                                [responsive]="piechartOptions?.responsive" [fill]="piechartOptions?.fill"></apx-chart>
                        </div>
                        <ng-template #elseBlock>
                            <div class="alert alert-danger text-center py-2">No Data Found</div>
                        </ng-template>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-6">
                <mat-card class="plain-card">
                    <mat-card-header class="card-header">
                        <h6 class="mb-0"><small>{{'dashboard.meaning_of_english_sentence' | translate}}</small></h6>
                    </mat-card-header>
                    <mat-card-content class="card-body">
                        <div id="chart" *ngIf="piechartSecondOptionsData?.length; else elseBlock">
                            <apx-chart [series]="piechartSecondOptions?.series" [legend]="piechartSecondOptions?.legend"
                                [chart]="piechartSecondOptions?.chart" [labels]="piechartSecondOptions?.labels"
                                [responsive]="piechartSecondOptions?.responsive"
                                [fill]="piechartSecondOptions?.fill"></apx-chart>
                        </div>
                        <ng-template #elseBlock>
                            <div class="alert alert-danger text-center py-2">No Data Found</div>
                        </ng-template>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <mat-card class="plain-card h-100">
            <mat-card-header class="card-header">
                <h6 class="d-flex align-items-center justify-content-between w-100 mb-0">
                    <div>{{'dashboard.number_of_students_surveyed' |translate}} </div>
                    <div class="d-flex gap-3 align-items-center">
                        <div class="form-check small">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                (change)="checkBoxCheckedAll($event?.target);" [checked]="checkBoxCheckAll">
                            <label class="form-check-label mt-1" for="flexCheckDefault">
                                {{'performance_indicators.select_all_classes'|translate}}
                            </label>
                        </div>
                        <div>{{'dashboard.sel_no' |translate}} : <span class="fw-bold">{{selNumber}}</span></div>
                    </div>
                </h6>
            </mat-card-header>
            <mat-card-content class="card-body">
                <div class="row">
                    <div class="col-sm-12">

                        <table class="table table-bordered inner-table">
                            <thead>
                                <tr>
                                    <th *ngFor="let surveyedData of getSurveyedData; let i = index;">
                                        <input type="checkbox" *ngIf="i > 1" [checked]="surveyedData.checked"
                                            (change)="checkBoxChecked($event, surveyedData);">
                                        {{language=="Marathi"?surveyedData?.text_m: surveyedData?.text ?
                                        surveyedData?.text:'-'}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td *ngFor="let surveyedData of getSurveyedData">{{surveyedData?.data}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="chart-container">
                        <ng-container *ngIf="getAssesmentData?.length; else elseBlock">
                            <div class="d-flex">
                                <div *ngFor="let barchart of barchartOptions?.series; let i = index">
                                    <h6 class="small fw-bold text-center mb-0"> {{getAssesmentData[i].subjectName}}</h6>
                                    <apx-chart [series]="barchart" [chart]="barchartOptions?.chart"
                                        (click)="redToStuProfile('subject',getAssesmentData[i].subjectId)"
                                        [plotOptions]="barchartOptions?.plotOptions"
                                        [responsive]="barchartOptions?.responsive" [xaxis]="barchartOptions?.xaxis"
                                        [legend]="barchartOptions?.legend" [fill]="barchartOptions?.fill"></apx-chart>
                                </div>
                            </div>
                        </ng-container>

                        <ng-template #elseBlock>
                            <div class="text-center ml-5 alert alert-danger text-center m-2 mt-2">No Data Found</div>
                        </ng-template>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <mat-card class="plain-card">
            <mat-card-header class="card-header pb-0">
                <div class="d-flex align-items-center justify-content-between w-100">
                    <h6 class="mb-0">{{'dashboard.taluka_wise_assessment' |translate}}</h6>
                    <div [formGroup]="topFilterForm" [class.d-hidden]="!this.talukaWiseAssData.filteredData?.length">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'user_Registration.Please_select_subject' |translate}}</mat-label>
                            <mat-select formControlName="subjectId" (selectionChange)="pageNumber =  1;getDynamicDetails()">
                                <mat-option *ngFor="let subjects of getAllSubjectArray"
                                    [value]="subjects?.id">{{subjects?.subject}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content class="card-body pt-0">
                <table mat-table #table [dataSource]="talukaWiseAssData" class="dashboard-table w-100">
                    <ng-container matColumnDef="srNo">
                        <th mat-header-cell *matHeaderCellDef class="mat-column-srNo">{{'common.Sr.no.' |translate}}</th>
                        <td mat-cell *matCellDef="let element"> {{element.srNo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="textValue">
                        <th mat-header-cell *matHeaderCellDef [class.big-column]="assLabelName!='Student Name'">{{setName(assLabelName)}}</th>
                        <td mat-cell *matCellDef="let element"> 
                            <ng-container *ngIf="assLabelName!='Student Name'; else elseBlock;">
                                {{element?.textValue}}
                            </ng-container>
                            <ng-template #elseBlock>
                                <a (click)="redToStuProfile('studentId',element?.sourceId)" class="text-main">{{element?.textValue}}</a>
                            </ng-template>  
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="standardName" >
                        <th mat-header-cell *matHeaderCellDef class="mat-column-action">{{'student.standard' |translate}}</th>
                        <td mat-cell *matCellDef="let element"> {{element?.standardName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="assesmentCalculationValue">
                        <th mat-header-cell *matHeaderCellDef>{{'dashboard.current_status' | translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                    *ngFor="let pro of element?.assesmentDetails; let j = index"
                                    [style.width]="pro?.assesmentCalculationValue+'%'"
                                    [style.background-color]="pro.colorCodeValue" aria-valuenow="15"
                                    aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                    data-bs-toggle="tooltip" title="60%" data-bs-html="true"
                                    [attr.data-bs-title]="pro?.assessmentParamenterName">
                                    <span>{{pro?.assesmentCalculationValue+'%'}}</span>
                                </div>
                            </div>    
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="totalStudent">
                        <th mat-header-cell *matHeaderCellDef class="big-column">{{'dashboard.total_students' | translate}}</th>
                        <td mat-cell *matCellDef="let element"> {{element.totalStudent}} </td>
                    </ng-container>
                    <ng-container matColumnDef="evaluvatedStudent">
                        <th mat-header-cell *matHeaderCellDef class="mat-column-action">{{'dashboard.evaluated' | translate}}</th>
                        <td mat-cell *matCellDef="let element"> {{element.evaluvatedStudent}} </td>
                    </ng-container>
                    <ng-container matColumnDef="pendingStudent">
                        <th mat-header-cell *matHeaderCellDef class="big-column">{{'dashboard.pending_assessment' | translate}}</th>
                        <td mat-cell *matCellDef="let element"> {{element.pendingStudent}} </td>
                    </ng-container>
                    <tr class="mat-row p-2 w-100" *matNoDataRow col>
                        <td class="alert alert-danger text-center m-2 mt-2" colspan="12">No data found </td>
                    </tr>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [length]="totalRows" showFirstLastButtons
                    (page)="pageChanged($event)" [pageSizeOptions]="[10]" aria-label="Select page">
                </mat-paginator>
                
            </mat-card-content>
        </mat-card>
    </div>
</div>