<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">{{'dashboard.dashboard' | translate}}</li>
    </ol>
</nav>
<form [formGroup]="topFilterForm" class="w-mat-form-field">
    <div class="row">
        <div class="col-sm">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Year </mat-label>
                <mat-select formControlName="yearId" [disabled]="educationYearArray?.length == 1">
                    <mat-option *ngFor="let year of  educationYearArray" [value]="year.id">
                        {{year.year}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>तालुका निवडा</mat-label>

                <mat-select formControlName="talukaId"
                    (selectionChange)="clearFilterForm('taluka');getDynamicDetails();getKendra();cardCountData();clickOnSvgMap('select')"
                    [disabled]="enbTalDropFlag">
                    <!-- <mat-option value="0">{{ language != "Marathi"? "All Taluka":'सर्व तालुका'}}</mat-option> -->
                    <mat-option *ngFor="let tal of talukaArray" [value]="tal.id">
                        {{tal.taluka}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>केंद्र निवडा</mat-label>
                <mat-select formControlName="kendraId"
                    [disabled]="topFilterForm.value.talukaId==0 ? true : enbCenterDropFlag ? true: false"
                    (selectionChange)="clearFilterForm('kendra');getDynamicDetails();getSchools();cardCountData();">
                    <mat-option *ngFor="let cen of centerArray" [value]="cen.id">
                        {{cen.center}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>शाळा निवडा</mat-label>
                <mat-select formControlName="schoolId" [disabled]="!topFilterForm.value.kendraId || enbSchoolDropFlag"
                    (selectionChange)="cardCountData();getDynamicDetails();">
                    <mat-option *ngFor="let schools of schoolArray" [value]="schools.id">
                        {{schools.schoolName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Assessment</mat-label>
                <mat-select formControlName="assesmentId" (selectionChange)="cardCountData()">
                    <mat-option *ngFor="let ssessments of assessmentsArray" [value]="ssessments.id">
                        {{ssessments.examName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</form>
<div class="row mb-3" id="dash-stats">
    <div [ngClass]="{'col-sm-6':topFilterForm.value.schoolId, 'col-sm-3':topFilterForm.value.schoolId==0}">
        <div class="card card-body bg-voilet h-100">
            <div class="d-flex  justify-content-between align-items-center">
                <div class="position-relative">
                    <img src="assets/images/statistical-icons/Student-white.svg" class="bg-image">
                    <p>Students</p>
                    <h3>{{cardInfoData?.totalStudents}}</h3>
                </div>
                <div class="right-img">
                    <img src="assets/images/statistical-icons/Student.svg">
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{'col-sm-6':topFilterForm.value.schoolId, 'col-sm-3':topFilterForm.value.schoolId ==0}">
        <div class="card card-body bg-cyan h-100">
            <div class="d-flex justify-content-between align-items-center">
                <div class="position-relative">
                    <img src="assets/images/statistical-icons/Teacher-white.svg" class="bg-image">
                    <p>Teachers</p>
                    <h3>{{cardInfoData?.totalTeachers}}</h3>
                </div>
                <div class="right-img">
                    <img src="assets/images/statistical-icons/Teacher.svg">
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{'d-none':topFilterForm.value.schoolId, 'col-sm-3':topFilterForm.value.schoolId ==0}">
        <div class="card card-body bg-blue h-100">
            <div class="d-flex justify-content-between align-items-center">
                <div class="position-relative">
                    <img src="assets/images/statistical-icons/School-white.svg" class="bg-image">
                    <p>School</p>
                    <h3>{{cardInfoData?.totalSchools}}</h3>
                </div>
                <div class="right-img">
                    <img src="assets/images/statistical-icons/School.svg">
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{'d-none':topFilterForm.value.schoolId, 'col-sm-3':topFilterForm.value.schoolId ==0}">
        <div class="card card-body bg-magenta h-100">
            <div class="d-flex justify-content-between align-items-center">
                <div class="position-relative">
                    <img src="assets/images/statistical-icons/ZP-Officer-white.svg" class="bg-image">
                    <p>ZP Officers</p>
                    <h3>{{cardInfoData?.totalUsers}}</h3>
                </div>
                <div class="right-img">
                    <img src="assets/images/statistical-icons/ZP-Officer.svg">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-4">
        <mat-card class="mb-3 plain-card">
            <mat-card-header class="card-header">
                <h6 class="mb-0">नकाशा</h6>
            </mat-card-header>
            <mat-card-content class="card-body">
                <div id="mapsvg" class="text-center">
                    <!-- <img src="assets/chandrapur_dist.svg" style="height: 200px;" class=""> -->
                </div>
            </mat-card-content>
        </mat-card>

        <div class="row">
            <div class="col-sm-6">
                <mat-card class="plain-card">
                    <mat-card-header class="card-header">
                        <small> Meaning of English words</small>
                    </mat-card-header>
                    <mat-card-content class="card-body">
                        <div id="chart" *ngIf="piechartOptionstData?.length; else elseBlock">
                            <apx-chart [series]="piechartOptions?.series" [legend]="piechartOptions?.legend"
                                [chart]="piechartOptions?.chart" [labels]="piechartOptions?.labels"
                                [responsive]="piechartOptions?.responsive" [fill]="piechartOptions?.fill"></apx-chart>
                        </div>
                        <ng-template #elseBlock>
                            <p>No Data Found</p>
                        </ng-template>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-6"> <mat-card class="plain-card">
                    <mat-card-header class="card-header">
                        <small> Meaning of English sentence</small>
                    </mat-card-header>
                    <mat-card-content class="card-body">
                        <div id="chart" *ngIf="piechartSecondOptionsData?.length; else elseBlock">
                            <apx-chart [series]="piechartSecondOptions?.series" [legend]="piechartSecondOptions?.legend"
                                [chart]="piechartSecondOptions?.chart" [labels]="piechartSecondOptions?.labels"
                                [responsive]="piechartSecondOptions?.responsive"
                                [fill]="piechartSecondOptions?.fill"></apx-chart>
                        </div>
                        <ng-template #elseBlock>
                            <p>No Data Found</p>
                        </ng-template>
                    </mat-card-content>
                </mat-card></div>
        </div>
    </div>
    <div class="col-sm-8">
        <mat-card class="plain-card h-100">
            <mat-card-header class="card-header">
                <h6 class="d-flex align-items-center justify-content-between w-100 mb-0">
                    <!-- <div>सर्वेक्षण केलेल्या विद्यार्थ्यांची एकूण संख्या</div> -->
                    <div>Number of students surveyed</div>
                    <!-- <div>निवडलेली संख्या : <span class="fw-bold">{{selNumber}}</span></div> -->
                    <div>Selected Number : <span class="fw-bold">{{selNumber}}</span></div>
                </h6>
            </mat-card-header>
            <mat-card-content class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered inner-table">
                            <thead>
                                <tr>
                                    <th *ngFor="let surveyedData of getSurveyedData; let i = index">
                                        <input type="checkbox" *ngIf="i > 1" [checked]="surveyedData.checked"
                                            (change)="checkBoxChecked($event, surveyedData)">
                                        {{surveyedData?.text ? surveyedData?.text : '-'}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td *ngFor="let surveyedData of getSurveyedData">{{surveyedData?.data}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ng-container *ngIf="getAssesmentData?.length; else elseBlock">
                        <div class="d-flex  ml-45">

                            <div class="border-end pt-5"
                                *ngFor="let barchart of barchartOptions?.series; let i = index">
                                <h6 class="small fw-bold text-center mb-0"> {{getAssesmentData[i].subjectName}}</h6>

                                <apx-chart [series]="barchart" [chart]="barchartOptions?.chart"
                                    [plotOptions]="barchartOptions?.plotOptions"
                                    [responsive]="barchartOptions?.responsive" [xaxis]="barchartOptions?.xaxis"
                                    [legend]="barchartOptions?.legend" [fill]="barchartOptions?.fill"></apx-chart>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #elseBlock>
                        <p class="text-center ml-5">No Data Found</p>
                    </ng-template>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <mat-card class="plain-card">
            <mat-card-header class="card-header">
                <div class="d-flex align-items-center justify-content-between w-100">
                    <h6 class="mb-0">Taluka wise Assessment</h6>
                    <div class="d-flex align-items-center justify-content-between gap-3" [formGroup]="topFilterForm" >
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Select Subject</mat-label>
                         
                            <mat-select formControlName="subjectId" (selectionChange)="getDynamicDetails()">
                                <mat-option value="0">All Subject</mat-option>
                                <mat-option
                                    *ngFor="let subjects of getAllSubjectArray" [value]="subjects?.id">{{subjects?.subject}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sr. No.</th>
                            <!-- <th scope="col">{{topFilterForm.value.talukaId ? Taluka : topFilterForm.value.talukaId &&topFilterForm.value.talukaId : 'Kendra':''}}</th> -->
                            <th scope="col">{{!topFilterForm.value.talukaId ? 'Taluka' :topFilterForm.value.talukaId ? 'Kendra': topFilterForm.value.talukaId && topFilterForm.value.kendraId ? 'School':''}}</th>
                            <th scope="col">Current Status</th>
                            <th scope="col">Total Students</th>
                            <th scope="col">Evaluated</th>
                            <th scope="col">Pending Assessment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let res of talukaWiseAssData">
                            <td scope="row">{{res?.srNo}}</td>
                            <td scope="row">{{res?.textValue}}</td>
                            <td  class="w-50">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" *ngFor="let pro of res?.assesmentDetails; let j = index"
                                     [style.width]="pro?.assesmentCalculationValue+'%'"  [style.background-color]="progressBarcolors[j]"
                                     aria-valuenow="15"  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">{{pro?.assesmentCalculationValue+'%'}}</div>  
                                </div>
                            </td>
                            <td scope="row">{{res?.totalStudent}}</td>
                            <td scope="row">{{res?.evaluvatedStudent}}</td>
                            <td scope="row">{{res?.pendingStudent}}</td>
                        </tr>
                        <tr *ngIf="!talukaWiseAssData?.length">
                            <td scope="row" colspan="6">No Data Found</td>
                        </tr>
                    </tbody>
                </table>

            </mat-card-content>
        </mat-card>
    </div>
</div>
