<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">{{'common.masters'|translate}}</li>
    <li class="breadcrumb-item active" aria-current="page">{{'student.student_registration'|translate}}</li>
  </ol>
</nav>
<mat-card class="plain-card">
  <mat-card-header class="card-header">
    <div class="d-flex justify-content-between align-items-center w-100">
      <h6 class="text-main mb-0">{{'student.student_list'|translate}}</h6>
      <div class="d-flex align-items-center gap-2">
        <button mat-flat-button class="btn-main btn-icon" [matMenuTriggerFor]="menu">
          <mat-icon>
            download
          </mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <!-- <button mat-menu-item>
            <div class="d-flex align-items-center justify-content-between w-100">
              <span>PDF</span>
              <i class='bx bxs-file-pdf text-danger'></i>
            </div>
          </button> -->
          <button mat-menu-item (click)="excelDownload()">
            <div class="d-flex align-items-center justify-content-between w-100">
              <span>{{'common.excel'|translate}}</span>
              <i class='bx bxs-file text-primary'></i>
            </div>
          </button>
        </mat-menu>
        <button mat-flat-button class="btn-main" (click)="registerStudent()">
          <mat-icon>add</mat-icon>
          <span>
            {{'student.add_student'|translate}}
          </span>
        </button>
      </div>
    </div>
  </mat-card-header>
  <mat-card-header class="card-header">
    <form [formGroup]="filterFrm" class="d-flex" >
      <div class="row">

        <div class="col-sm">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label> {{'common.taluka'|translate}}</mat-label>
            <mat-select placeholder="{{'common.Please_Select_Taluka'|translate}}" formControlName="talukaId" (selectionChange)="clearDropdown('talukaId');getCenter()">
              <mat-option *ngFor="let taluka of talukaArray" [value]="taluka.id">{{taluka.taluka}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'common.kendra'|translate}}</mat-label>
            <mat-select placeholder="{{'student.select_kendra'|translate}}" [disabled]="true" formControlName="centerId" (selectionChange)="clearDropdown('centerId');getSchool()">
              <mat-option *ngFor="let center of centerArray" [value]="center.id">{{center.center}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'common.school'|translate}}</mat-label>
            <mat-select placeholder="{{'student.select_school'|translate}}" formControlName="schoolId">
              <mat-option *ngFor="let school of schoolArray" [value]="school.id">{{school.schoolName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div class="col-sm">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'student.search_by_saralid_name_mobileno'|translate}}</mat-label>
            <input matInput placeholder="{{'student.search_by_saralid_name_mobileno'|translate}}" formControlName="searchText">
          </mat-form-field>
        </div>
        <div class="col-sm">
          <button (click)="getTableData()" type="submit" mat-flat-button class="btn-main me-2">{{'common.filter'|translate}}</button>
          <button mat-flat-button class="btn-second" (click)="clearForm()">{{'common.clear'|translate}}</button>
        </div>
      </div>     
    </form>

  </mat-card-header>
  <mat-card-content class="card-body">
    <app-table-grid (recObjToChild)="childCompInfo($event)"></app-table-grid>
  </mat-card-content>
</mat-card>