<mat-card class="plain-card">
    <mat-card-header class="card-header mb-3">
        <div class="d-flex align-items-center justify-content-between w-100">
            <h6 class="text-main">Student List</h6>
            <div class="d-flex">
                <button mat-flat-button class="btn-main btn-icon mx-2" [matMenuTriggerFor]="menu">
                    <mat-icon>
                      download
                    </mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item>
                      <div class="d-flex align-items-center justify-content-between w-100">
                        <span>PDF</span>
                        <i class='bx bxs-file-pdf text-danger'></i>
                      </div>
                    </button>
                    <button mat-menu-item>
                      <div class="d-flex align-items-center justify-content-between w-100">
                        <span>Excel</span>
                        <i class='bx bxs-file text-primary'></i>
                      </div>
                    </button>
                  </mat-menu>
                <button mat-button class="btn btn-main d-flex align-items-center" (click)="registerStudent()">
                    <mat-icon>add</mat-icon>
                    <span>
                        Add New
                    </span>
                </button>
            </div>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-sm-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Search By Id</mat-label>
                    <input matInput placeholder="Search By Id">
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Search By Name</mat-label>
                    <input matInput placeholder="Search By Name">
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Search By Contact</mat-label>
                    <input matInput placeholder="Search By Contact">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            Table
        </div>
    </mat-card-content>
</mat-card>