<mat-card class="plain-card">
    <mat-card-header class="header">
        <h6 class="text-main"> {{dialogData?.cardTitle}}</h6>
    </mat-card-header>
    <mat-card-content class="card-body text-center">
        <img src="{{dialogData?.dialogIcon}}" class="w-25">
        <h6 mat-dialog-content class="my-4"*ngIf="dialogData?.p1">{{dialogData?.p1}}</h6>
        <h6 mat-dialog-content class="my-4"*ngIf="dialogData?.p2">{{dialogData?.p2}}</h6>
        <div mat-dialog-actions align="end">
            <button mat-flat-button mat-dialog-close class="btn-second me-2"  (click)="onNoClick('No')">{{dialogData?.cancelBtnText}}</button>
            <button mat-flat-button type="submit" (click)="onNoClick('Yes')" class="btn-main">{{dialogData?.successBtnText}}</button>
        </div>
    </mat-card-content>
</mat-card>
