<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">{{'common.masters' | translate}}</li>
    <li class="breadcrumb-item active" aria-current="page">{{'school.school_registration' | translate}}</li>
  </ol>
</nav>
<mat-card class="plain-card">
  <mat-card-header class="card-header">
    <div class="d-flex justify-content-between align-items-center w-100">
      <h6 class="text-main mb-0 fw-bold">{{'school.school_list' | translate}}</h6>
      <div class="d-flex align-items-center gap-2">
        <!-- <button mat-flat-button class="btn-third btn-icon" title="Table View">
          <mat-icon>
            table_view
          </mat-icon>
        </button>

        <button mat-flat-button class="btn-second btn-icon" title="Card View">
          <mat-icon>
            grid_view
          </mat-icon>
        </button> -->

        <button mat-flat-button class="bg-danger btn-icon text-white" title="Download as Excel"
          (click)="excelDownload()">
          <mat-icon>
            description
          </mat-icon>
        </button>
        <!-- <button mat-flat-button class="btn-main btn-icon" [matMenuTriggerFor]="menu">
          <mat-icon>
            download
          </mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item (click)="excelDownload()">
            <div class="d-flex align-items-center justify-content-between w-100">
              <span>Excel</span>
              <i class='bx bxs-file text-primary'></i>
            </div>
          </button>
        </mat-menu> -->
        <button mat-flat-button class="btn-main" (click)="addSchoolData()">
          <mat-icon>add</mat-icon>
          <span>
            {{'school.add_school' | translate}}
          </span>
        </button>
      </div>
    </div>
  </mat-card-header>
  <form [formGroup]="filterForm" #formGroupDirective="ngForm">
    <mat-card-header class="card-header pb-0 border-bottom-0">
      <div class="row w-100">
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="w-100" [class.disabled-contenct]="this.levelId==3 || this.levelId==4 || this.levelId==5">
            <mat-label>{{'common.Please_Select_Taluka' |translate}}</mat-label>
            <mat-select formControlName="talukaId" (selectionChange)="getCenter();clearDropDrown('taluka')">
              <mat-option *ngFor="let tal of talukaArray" [value]="tal.id">
                {{tal.taluka}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="w-100" [class.disabled-contenct]="this.levelId==4 || this.levelId==5">
            <mat-label>{{'common.select_kendra' | translate}}</mat-label>
            <mat-select formControlName="centerId" (selectionChange)="clearDropDrown('center')">
              <mat-option *ngFor="let cen of centerArray" [value]="cen.id">
                {{cen.center}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'common.school' |translate}}</mat-label>
            <input matInput formControlName="schoolName" (keyup)="validator.alphaNumeric($event)"
              (keypress)="validator.noFirstSpaceAllow($event)">
            <!-- <mat-error
                            *ngIf="registerForm.controls['schoolName'].hasError('required')">{{'common.select_school'|translate}}</mat-error> -->
            <!-- <mat-error *ngIf="registerForm.controls['schoolName'].hasError('minlength') || registerForm.controls['schoolName'].hasError('maxlength')">{{'school.please_enter_valid_school name'|translate}}</mat-error>
                        <mat-error *ngIf="registerForm.controls['schoolName'].hasError('pattern')">{{'school.please_enter_valid_school name'|translate}}</mat-error> -->
          </mat-form-field>
        </div>
        <div class="col-sm-auto">
          <button (click)="getTableData('filter')" mat-flat-button class="btn-main me-2">{{'common.filter'
            |translate}}</button>
          <button (click)="clearFilter()" mat-flat-button class="btn-second">{{'common.clear' | translate}}</button>
        </div>
      </div>
    </mat-card-header>
  </form>
  <mat-card-content class="card-body pt-0">
    <app-table-grid (recObjToChild)="childCompInfo($event)"></app-table-grid>
  </mat-card-content>
</mat-card>