<mat-card class="plain-card">
    <mat-card-header class="card-header">
        <div class="d-flex justify-content-between align-items-center w-100">
            <h6 class="text-main mb-0 fw-bold">{{'agency.register_agency' |translate}}</h6>
            <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
                <mat-icon>
                    close
                </mat-icon>
            </button>
        </div>
    </mat-card-header>
   <form [formGroup]="agencyForm" (ngSubmit)="agencyRegister(formDirective)" #formDirective="ngForm">
    <mat-card-content class="card-body">
        <div class="row mb-3 g-4">
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'common.agency_name' |translate}}</mat-label>
                    <input matInput placeholder="Enter Agency Name" formControlName="agencyName" (keyup)="validation.removeSpaceAtBegining($event)">
                    <mat-error *ngIf="f['agencyName'].errors">
                        <span class="text-danger" *ngIf="f['agencyName'].hasError('required')">
                           {{'agency.please_enter_agency_name' |translate}}
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'agency.registration_number' |translate}}</mat-label>
                    <input matInput placeholder="Enter Registration Number" formControlName="registrationNo" (keyup)="validation.removeSpaceAtBegining($event)">
                    <mat-error *ngIf="f['registrationNo'].errors">
                        <span class="text-danger" *ngIf="f['registrationNo'].hasError('required')">
                            {{'agency.please_enter_registration_number' |translate}}
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'agency.contact_person' |translate}}</mat-label>
                    <input matInput placeholder="Enter Contact Person" formControlName="contactPerson" (keypress)="validation.alphabetsWithSpaces($event)" (keyup)="validation.removeSpaceAtBegining($event)">
                    <mat-error *ngIf="f['contactPerson'].errors">
                        <span class="text-danger" *ngIf="f['contactPerson'].hasError('required')">
                           {{'agency.please_enter_contact_person' |translate}}
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'common.district' |translate}}</mat-label>
                    <mat-select formControlName="district" (selectionChange)="getTalukaArr(agencyForm.value.district)">
                        <mat-option *ngFor="let dist of districtArr" [value]="dist.id">{{dist.district}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="f['district'].errors">
                        <span class="text-danger" *ngIf="f['district'].hasError('required')">
                            {{'common.Please_Select_District' |translate}}
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'common.taluka' |translate}}</mat-label>
                    <mat-select formControlName="taluka">
                        <mat-option *ngFor="let tal of talukaArr" [value]="tal.id">{{tal.taluka}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="f['taluka'].errors">
                        <span class="text-danger" *ngIf="f['taluka'].hasError('required')">
                           {{'common.Please_Select_Taluka' |translate}}
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'agency.contact_number' |translate}}</mat-label>
                    <input matInput placeholder="Enter Contact Person" formControlName="contactNo"  maxlength="10" (keypress)="validation.onlyDigits($event)" (keyup)="validation.removeSpaceAtBegining($event)">
                    <mat-error *ngIf="f['contactNo'].errors">
                        <span class="text-danger" *ngIf="f['contactNo'].hasError('required')">
                           {{'agency.please_enter_contact_number' |translate}}
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'common.email' |translate}}</mat-label>
                    <input matInput placeholder="Enter Email id" formControlName="emailId" (keypress)="validation.emailRegex($event)" (keyup)="validation.removeSpaceAtBegining($event)">
                    <mat-error *ngIf="f['emailId'].errors">
                        <span class="text-danger" *ngIf="f['emailId'].hasError('required')">
                           {{'common.please_enter_email_id' |translate}}
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'agency.address' |translate}}</mat-label>
                    <input matInput placeholder="Enter Address" formControlName="address" (keyup)="validation.removeSpaceAtBegining($event)">
                    <mat-error *ngIf="f['address'].errors">
                        <span class="text-danger" *ngIf="f['address'].hasError('required')">
                            {{'agency.please_enter_address' |translate}}
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer class="card-footer">
        <div class="d-flex justify-content-end">
            <button mat-flat-button class="btn-second me-2" type="button" (click)="clearForm(formDirective)">{{'common.cancel' |translate}}</button>
            <button mat-flat-button class="btn-main" type="submit">{{'common.submit' |translate}}</button>
            </div>
    </mat-card-footer>
   </form>
</mat-card>