<form [formGroup]="agencyForm" (ngSubmit)="agencyRegister(formDirective)" #formDirective="ngForm">
    <mat-card class="plain-card">
        <mat-card-header class="card-header">
            <div class="d-flex justify-content-between align-items-center w-100">
                <h6 class="text-main mb-0 fw-bold">{{this.data?.cardTitle}}</h6>
                <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
                    <mat-icon>
                        close
                    </mat-icon>
                </button>
            </div>
        </mat-card-header>
        <mat-card-content class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'common.agency_name' |translate}}</mat-label>
                        <input matInput formControlName="agencyName"
                          (keypress)="validation.noFirstSpaceAllow($event);validation.alphaNumericWithSpacesAndSpecChars($event)">
                         <mat-error *ngIf="f['agencyName'].errors">
                            <span class="text-danger" *ngIf="f['agencyName'].hasError('pattern')">
                                {{'agency.please_enter_valid_agency_name' |translate}}
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'agency.agency_marathi_name' |translate}}</mat-label>
                        <input matInput (keypress)="validation.noFirstSpaceAllow($event);validation.unicodeMarathiValidation($event)"
                            formControlName="m_AgencyName">
                         <mat-error *ngIf="f['m_AgencyName'].errors">
                            <span class="text-danger" *ngIf="f['m_AgencyName'].hasError('pattern')">
                                {{'agency.agency_marathi_name_pattern' |translate}}
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'agency.registration_number' |translate}}</mat-label>
                        <input matInput
                            formControlName="registrationNo" (keypress)="validation.noFirstSpaceAllow($event)">
                        <mat-error *ngIf="f['registrationNo'].errors">
                            <!-- <span class="text-danger" *ngIf="f['registrationNo'].hasError('required')">
                                {{'agency.please_enter_registration_number' |translate}}
                            </span> -->
                            <span class="text-danger" *ngIf="f['registrationNo'].hasError('minlength')">
                                {{'agency.please_enter_minimum 5 digit_registration_number' |translate}}
                            </span>
                            <span class="text-danger" *ngIf="f['registrationNo'].hasError('maxlength')">
                                {{'agency.please_enter_maximum 50 digit_registration_number' |translate}}
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'common.contact_person' |translate}}</mat-label>
                        <input matInput
                            formControlName="contactPersonName" (keypress)="validation.noFirstSpaceAllow($event);validation.alphabetsWithSpaces($event)">
                        <!-- <mat-error *ngIf="f['contactPersonName'].errors">
                            <span class="text-danger" *ngIf="f['contactPersonName'].hasError('required')">
                                {{'agency.please_enter_contact_person' |translate}}
                            </span>
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100" [class.disabled-contenct]="true">
                        <mat-label>{{'common.district' |translate}}</mat-label>
                        <mat-select formControlName="districtId"
                            (selectionChange)="getTalukaArr(agencyForm.value.districtId)">
                            <mat-option *ngFor="let dist of districtArr"
                                [value]="dist.id">{{dist.district}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="f['districtId'].errors">
                            <span class="text-danger" *ngIf="f['districtId'].hasError('required')">
                                {{'common.Please_Select_District' |translate}}
                            </span>
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100" [class.disabled-contenct]="this.levelId!=1 && this.levelId!=2">
                        <mat-label>{{'common.taluka' |translate}}</mat-label>
                        <mat-select formControlName="talukaId">
                            <mat-option *ngFor="let tal of talukaArr" [value]="tal.id">{{tal.taluka}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="f['talukaId'].errors">
                            <span class="text-danger" *ngIf="f['talukaId'].hasError('required')">
                                {{'common.Please_Select_Taluka' |translate}}
                            </span>
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'agency.contact_number' |translate}}</mat-label>
                        <input matInput formControlName="contactNo"
                            (blur)="contactNo()" maxlength="10" (keypress)="validation.noFirstSpaceAllow($event);validation.onlyDigits($event)">
                        <mat-error *ngIf="f['contactNo'].errors">
                            <span class="text-danger" *ngIf="f['contactNo'].hasError('pattern')">
                                {{'agency.please_enter_valid_contact_no' |translate}}
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'common.email' |translate}}</mat-label>
                        <input matInput  formControlName="emailId" (keypress)="validation.noFirstSpaceAllow($event);validation.noSpaceAllow($event)">
                        <mat-error *ngIf="f['emailId'].errors">
                            <span class="text-danger" *ngIf="f['emailId'].hasError('pattern') || f['emailId'].hasError('email')">
                                {{'agency.please_enter_valid_emailId' | translate}}
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'agency.address' |translate}}</mat-label>
                        <textarea matInput formControlName="address"
                        (keypress)="validation.noFirstSpaceAllow($event)"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer class="card-footer">
            <div class="d-flex justify-content-end">
                <button mat-flat-button class="btn-second me-2" type="button"
                    (click)="clearForm(formDirective)">{{this.data?.cancelBtnText}}</button>
                <button mat-flat-button class="btn-main" type="submit">{{this.data?.successBtnText}}</button>
            </div>
        </mat-card-footer>
    </mat-card>
</form>
