<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">{{'common.masters' | translate}}</li>
    <li class="breadcrumb-item active" aria-current="page">{{'designation_master.designation_master' | translate}}</li>
  </ol>
</nav>
<mat-card class="plain-card">
  <mat-card-header class="card-header">
    <div class="d-flex justify-content-between align-items-center w-100">
      <h6 class="text-main mb-0 fw-bold">{{'designation_master.designation_master' | translate}}</h6>
      <div class="d-flex align-items-center gap-2">
        <!-- <button mat-flat-button class="btn-third btn-icon" title="Table View">
          <mat-icon>
            table_view
          </mat-icon>
        </button> -->
        <button mat-flat-button class="btn-second btn-icon" title="Chart View">
          <mat-icon>
            account_tree
          </mat-icon>
        </button>
        <button mat-flat-button class="bg-danger btn-icon text-white" title="Download as Excel" (click)="excelDownload()">
          <mat-icon>
              description
          </mat-icon>
        </button>
        <!-- <button mat-flat-button class="btn-main btn-icon" [matMenuTriggerFor]="menu">
          <mat-icon>
            download
          </mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button type="button" mat-menu-item (click)="excelDownload()">
            <div class="d-flex align-items-center justify-content-between w-100">
              <span>{{'common.excel' | translate}}</span>
              <i class='bx bxs-file text-primary'></i>
            </div>
          </button>
        </mat-menu> -->
        <button mat-flat-button class="btn-main" (click)="addDesignation()">
          <mat-icon>add</mat-icon>
          <span>
            {{'designation_master.add_designation' | translate}}
          </span>
        </button>
      </div>
    </div>
  </mat-card-header>
  <mat-card-header class="card-header pb-0 border-bottom-0">
    <ng-container *ngIf="userLoginDesignationLevelId == 1">
      <div class="row align-items-start w-100 justify-content-start">
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'common.select_designation' | translate}}</mat-label>
            <input matInput
           aria-label="State"
           [matAutocomplete]="auto"
           [formControl]="searchdesignationLvl">
           <mat-autocomplete #auto="matAutocomplete">
            <!-- <mat-select [formControl]="searchdesignationLvl"> -->
              <mat-option *ngFor="let desigLevels of filteredStates | async" [value]="desigLevels.desingationLevel" (click)="getDesignationLevelId(desigLevels.id)">{{desigLevels.desingationLevel}}</mat-option>
            <!-- </mat-select> -->
          </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-sm-auto">
          <button (click)="getTableData('filter')" mat-flat-button class="btn-main me-2">{{'common.filter' | translate}}</button>
          <button (click)="clearFilter()" mat-flat-button class="btn-second">{{'common.clear' | translate}}</button>
        </div>
      </div>
    </ng-container>
  </mat-card-header>
  <mat-card-content class="card-body pt-0">
    <app-table-grid (recObjToChild)="childCompInfo($event)"></app-table-grid>
  </mat-card-content>
</mat-card>
