<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">{{'page_right_access.settings' |translate}}</li>
        <li class="breadcrumb-item active" aria-current="page">{{'performance_indicators.performance_indicators' |translate}}</li>
    </ol>
</nav>
<mat-card class="plain-card">
    <mat-card-header class="card-header">
        <div class="d-lg-flex align-items-center justify-content-between w-100 d-block ">
            <h6 class="text-main mb-3 mb-lg-0 fw-bold">{{'performance_indicators.performance_indicators' |translate}}</h6>
            <div class="d-flex gap-2 justify-content-between">
                <button mat-flat-button class="btn-main" (click)="addUpdatelevel()">
                    <mat-icon>add</mat-icon>
                    <span>{{'performance_indicators.add_assesment' |translate}}</span>
                </button>
                <button mat-flat-button class="btn-main" (click)="addclass()">
                    <mat-icon>add</mat-icon>
                    <span>{{'performance_indicators.add_class' |translate}}</span>
                </button>
            </div>
        </div>
    </mat-card-header>
    <mat-card-header class="card-header pb-0 border-bottom-0">
        <div class="row align-items-start w-100">
            <div class="col-sm-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'performance_indicators.English_Language_Level' | translate}}</mat-label>
                    <mat-select [formControl]="filterEnglishLag">
                        <mat-option *ngFor="let subject of getAllSubjectArray" [value]="subject.id">
                            {{subject.subject}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-auto">
                <button mat-flat-button class="btn-main me-2"
                    (click)="getAllPerformanceIndicatorData()">{{'common.filter' | translate}}</button>
                <!-- <button mat-flat-button class="btn-second"
                    (click)="filterEnglishLag.setValue(1);getAllPerformanceIndicatorData()">{{'common.clear' |
                    translate}}</button> -->
            </div>
            <div class="col-sm text-end">
                <mat-checkbox class="example-margin" [formControl]="allcheckClass" [checked]="allcheckClass.value == 1"
                    (change)="checkAllClass($event)">{{'performance_indicators.select_all_classes' |translate}}</mat-checkbox>
            </div>
        </div>
    </mat-card-header>

    <mat-card-content class="card-body pt-0">
        <div class="table-responsive scrollbar">
            <table mat-table [dataSource]="dataSource" matSort class="dashboard-table w-100">
                <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index" matColumnDef="{{disCol}}">

                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span *ngFor="let engMarHeading of english_MarathiHeadingArray">{{engMarHeading[disCol]}}</span>
                    </th>

                    <td mat-cell *matCellDef="let element;let i=index">
                        <span class="d-flex align-items-center"
                            *ngIf="disCol == 'assesmentParameterId' || disCol == 'assesmentParameter' || disCol == 'm_AssesmentParameter'">
                            <mat-icon class="text-main me-2 table-icon"
                                *ngIf="disCol == 'm_AssesmentParameter' || disCol == 'assesmentParameter'"
                                (click)="addUpdatelevel(element)" matTooltip="{{'common.edit' | translate}}"> edit
                            </mat-icon>
                            {{ disCol == 'assesmentParameterId' ? (i + 1 | numberTranformPipe) : element[disCol] }}
                        </span>

                        <span
                            *ngIf="disCol != 'assesmentParameterId' && disCol != 'assesmentParameter' && disCol != 'm_AssesmentParameter'">
                            <mat-checkbox class="example-margin" [checked]=" element[disCol] == 1"
                                (change)="addCheckedassesment($event,element?.assesmentParameterId,disCol)"></mat-checkbox>
                        </span>
                    </td>
                </ng-container>

                <tr class="mat-row p-2 w-100" *matNoDataRow col>
                    <td class="alert alert-danger text-center m-2 mt-2" colspan="12">No data found </td>
                </tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card-content>
    <mat-card-content class="card-body">
        <div class="row w-100">
            <div class="col-sm-12 text-end">
                <button mat-flat-button class="btn-main" (click)="onSubmitPI()">
                    <span>{{'common.submit' |translate}}</span>
                </button>
            </div>
        </div>
    </mat-card-content>
</mat-card>
