
<mat-card class="plain-card">
    <mat-card-header class="card-header pb-5">
        <div class="d-flex justify-content-between w-100 align-items-center">
            <h5 class="text-main mb-0 fw-bold">{{this.data?.cardTitle}}</h5>
            <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
                <mat-icon>
                    close
                </mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content class="card-body ms-2">
        <img src="" class="w-25">
      <div class="row">
               <ng-container>
                <div class="profile-icon">
                    <img src="http://localhost:4200/assets/images/user.png" alt="">
                </div>
               </ng-container>
            <div class="col-sm-6" *ngFor="let dt of this.data.data">
                <div class="row">
                    <div class="col-sm-5">
                        <span class="data-label fw-bold">{{dt.label}} : </span>
                    </div>
                    <div class="col-sm  mt-3">
                        {{dt.value?dt.value:'-'}}
                    </div>
                </div>
            </div>
       </div>
    </mat-card-content>
</mat-card>
    