<mat-card class="plain-card">
    <div class="d-flex justify-content-between align-items-center w-100">
        <h6 class="text-main mb-0 fw-bold"></h6>
        <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
            <mat-icon>
                close
            </mat-icon>
        </button>
    </div>
    <mat-card-content class="card-body text-center">
        <img src="" class="w-25">
        <h6 mat-dialog-content class="my-4"></h6>
        <h6 mat-dialog-content class="my-4"></h6>
    </mat-card-content>
</mat-card>

           <!--  <div class="student-details">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img src="" alt="Photo">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h5 class="mb-1 fw-bold"></h5>
                        <p class="text-muted mb-4">{{'common.name'|translate}}</p>

                        <div class="data-container">
                            <div class="row mb-3 justify-content-between">
                                <div class="col-sm-4">
                                    <span class="data-label">{{'student.parent_name'|translate}}</span>
                                    <div class="data-text"></div>
                                </div>
                                <div class="col-sm-4">
                                    <span class="data-label">{{'common.mobile_number'|translate}}</span>
                                    <div class="data-text"></div>
                                </div>
                                <div class="col-sm-4">
                                    <span class="data-label">{{'student.aadhar_card_number'|translate}}</span>
                                    <div class="data-text"></div>
                                </div>
                            </div>
                            <div class="row mb-3 justify-content-between">
                                <div class="col-sm-8">
                                    <span class="data-label">{{'common.school_name'|translate}}</span>
                                    <div class="data-text"></div>
                                </div>
                                <div class="col-sm-4">
                                    <span class="data-label">{{'student.standard'|translate}}</span>
                                    <div class="data-text"></div>
                                </div>
                            </div>
                            <div class="row mb-3 justify-content-between">
                                <div class="col-sm-4">
                                    <span class="data-label">{{'student.gender'|translate}}</span>
                                    <div class="data-text"></div>
                                </div>
                                <div class="col-sm-4">
                                    <span class="data-label">Parent Sec. Mobile No.</span>
                                    <div class="data-text"></div>
                                </div>
                                <div class="col-sm-4">
                                    <span class="data-label">Parent Mail Id</span>
                                    <div class="data-text"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div> -->
    