<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">{{'user_Registration.masters' |translate}}</li>
    <li class="breadcrumb-item active" aria-current="page">{{'user_Registration.user_registration' |translate}}</li>
  </ol>
</nav>
<mat-card class="plain-card">
  <mat-card-header class="card-header mb-3">
    <div class="d-flex justify-content-between align-items-center w-100">
      <h6 class="text-main mb-0">{{'user_Registration.office_users' |translate}}</h6>
      <div><button mat-flat-button class="btn-main btn-icon me-2" [matMenuTriggerFor]="menu">
          <mat-icon>
            download
          </mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item>
            <div class="d-flex align-items-center justify-content-between w-100">
              <span>{{'user_Registration.pdf' |translate}}</span>
              <i class='bx bxs-file-pdf text-danger'></i>
            </div>
          </button>
          <button mat-menu-item>
            <div class="d-flex align-items-center justify-content-between w-100">
              <span>{{'user_Registration.excel' |translate}}</span>
              <i class='bx bxs-file text-primary'></i>
            </div>
          </button>
        </mat-menu>
        <button mat-flat-button class="btn-main" (click)="registerusers()">
          <mat-icon>
            add
          </mat-icon>{{'user_Registration.add_user' |translate}}
        </button>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-sm-3 d-flex w-100">
        <mat-form-field appearance="outline">
          <mat-label>{{'user_Registration.search_by_name_contact' |translate}}</mat-label>
          <input matInput placeholder="{{'user_Registration.search_by_name_contact' |translate}}" [formControl]="searchControl">
        </mat-form-field>
        <button (click)="getAllUserData()" mat-flat-button class="btn-main mx-2">Filter</button>
        <button (click)="clearFilter()" mat-flat-button class="btn-main">Clear</button>
      </div>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div class="row">
      <app-table-grid (recObjToChild)="childCompInfo($event)"></app-table-grid>
    </div>
  </mat-card-content>
</mat-card>