<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">{{'common.masters' |translate}}</li>
    <li class="breadcrumb-item active" aria-current="page">{{'user_Registration.user_registration' |translate}}</li>
  </ol>
</nav>
<mat-card class="plain-card">
  <mat-card-header class="card-header">
    <div class="d-flex justify-content-between align-items-center w-100">
      <h6 class="text-main mb-0 fw-bold">{{'user_Registration.office_users' |translate}}</h6>
      <div class="d-flex align-items-center gap-2">
        <!-- <button mat-flat-button class="btn-third btn-icon" title="Table View">
          <mat-icon>
            table_view
          </mat-icon>
        </button>
        <button mat-flat-button class="btn-second btn-icon" title="Card View">
          <mat-icon>
            grid_view
          </mat-icon>
        </button> -->
        <button mat-flat-button class="bg-danger btn-icon text-white" title="Download as Excel"
          (click)="excelDownload()">
          <mat-icon>
            description
          </mat-icon>
        </button>
        <button mat-flat-button class="btn-main" (click)="registerusers()">
          <mat-icon>
            add
          </mat-icon>{{'user_Registration.add_user' |translate}}
        </button>
      </div>
    </div>
  </mat-card-header>
  <form [formGroup]="serachUserForm">
    <mat-card-header class="card-header pb-0 border-bottom-0">
      <div class="row w-100 gx-2">
        <div class="col-sm-auto">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'common.select_user_type'|translate}}</mat-label>
            <mat-select formControlName="UserTypeId">
              <mat-option *ngFor="let type of userTypeArray" [value]="type.userTypeId">{{type.userType}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-auto">
          <mat-form-field appearance="outline" class="w-100" [class.disabled-contenct]="this.levelId==3 || this.levelId==4 || this.levelId==5">
            <mat-label>{{'common.Please_Select_Taluka'|translate}}</mat-label>
            <mat-select formControlName="TalukaId"
              (selectionChange)="getCenter(serachUserForm.value.TalukaId);getAllClearData('taluka')">
              <mat-option *ngFor="let taluka of talukaArray" [value]="taluka.id">{{taluka.taluka}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-auto">
          <mat-form-field appearance="outline" class="w-100" [class.disabled-contenct]="!serachUserForm.value.TalukaId || this.levelId==4 || this.levelId==5">
            <mat-label>{{'common.select_kendra'|translate}}</mat-label>
            <mat-select formControlName="CenterId"
              (selectionChange)="getSchoolList(serachUserForm.value.CenterId);getAllClearData('kendra')">
              <mat-option *ngFor="let kendra of centerArray" [value]="kendra.id">{{kendra.center}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="w-100" [class.disabled-contenct]="!serachUserForm.value.CenterId || levelId==5">
            <mat-label>{{'common.select_school'|translate}}</mat-label>
            <mat-select formControlName="SchoolId">
              <mat-option *ngFor="let school of schoolArray" [value]="school.id">{{school.schoolName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'common.search_by_name_contact' |translate}}</mat-label>
            <input matInput placeholder="{{'common.search_by_name_contact' |translate}}" formControlName="textSearch">
          </mat-form-field>
        </div>
        <div class="col-sm-auto">
          <button (click)="getAllUserData('filter')" mat-flat-button class="btn-main me-2">{{'common.filter'
            |translate}}</button>
          <button (click)="clearAllFilter()" mat-flat-button class="btn-second">{{'common.clear'
            |translate}}</button>
        </div>
      </div>
    </mat-card-header>
  </form>
  <mat-card-content class="card-body pt-0">
    <app-table-grid (recObjToChild)="childCompInfo($event)"></app-table-grid>
  </mat-card-content>
</mat-card>
