<form [formGroup]="changePassForm" #formDirective="ngForm">
<mat-card class="plain-card">
    <mat-card-header class="card-header">
        <div class="d-flex justify-content-between align-items-center w-100">
            <h6 class="text-main mb-0 fw-bold">{{'change_password.change_password' |translate}}</h6>
            <button mat-icon-button class="btn-modal-close" mat-dialog-close (click)="onNoClick('No')">
                <mat-icon>
                    close
                </mat-icon>
            </button>
        </div>
    </mat-card-header>

    <mat-card-content class="card-body">
        <div class="row">
            <div class="col-sm-6 form-container">
                <div class="mb-3">
                    <mat-form-field appearance="outline" class="w-100 form-group">
                        <mat-label>{{'change_password.old_password' |translate}}</mat-label>
                        <input matInput [type]="CurrentPasswordHide ? 'password' : 'text'" formControlName="oldPwd" (keypress)="validation.noSpaceAllow($event)" maxlength="15">
                        <button type="button" mat-icon-button matSuffix (click)="CurrentPasswordHide = !CurrentPasswordHide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="CurrentPasswordHide" [title]="CurrentPasswordHide?(this.language=='mr-IN'?'दाखवा':'Show'):(this.language=='mr-IN'?'लपवा':'Hide')">
                            <mat-icon>{{CurrentPasswordHide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </button>
                        <mat-error>
                           <!--  <span *ngIf="fpass['newPwd'].errors?.['required']"
                                class="text-danger">{{'change_password.required_new_password' |translate}}</span> -->
                            <span *ngIf="fpass['oldPwd'].errors?.['pattern']"
                                class="text-danger">{{'change_password.invalid_old_password_format'
                                |translate}}</span>
                        </mat-error> 
                    </mat-form-field>
                </div>
                <div class="mb-3">
                    <mat-form-field appearance="outline" class="w-100 form-group">
                        <mat-label>{{'change_password.new_password' |translate}}</mat-label>
                        <input matInput [type]="newPasswordHide ? 'password' : 'text'" formControlName="newPwd" (keypress)="validation.noSpaceAllow($event)" maxlength="15">
                        <button type="button" mat-icon-button matSuffix (click)="newPasswordHide = !newPasswordHide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="newPasswordHide" [title]="newPasswordHide?(this.language=='mr-IN'?'दाखवा':'Show'):(this.language=='mr-IN'?'लपवा':'Hide')">
                            <mat-icon>{{newPasswordHide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </button>
                        <mat-error>
                           <!--  <span *ngIf="fpass['newPwd'].errors?.['required']"
                                class="text-danger">{{'change_password.required_new_password' |translate}}</span> -->
                            <span *ngIf="fpass['newPwd'].errors?.['pattern']"
                                class="text-danger">{{'change_password.invalid_new_password_format'
                                |translate}}</span>
                        </mat-error> 
                    </mat-form-field>
                </div>
                <div class="mb-0">
                    <mat-form-field appearance="outline" class="w-100 form-group">
                        <mat-label>{{'change_password.confirm_password' |translate}}</mat-label>
                        <input matInput [type]="retypePasswordHide ? 'password' : 'text'" formControlName="reTypePwd" (keypress)="validation.noSpaceAllow($event)" maxlength="15">
                        <button type="button" mat-icon-button matSuffix [title]="retypePasswordHide?(this.language=='mr-IN'?'दाखवा':'Show'):(this.language=='mr-IN'?'लपवा':'Hide')"
                            (click)="retypePasswordHide = !retypePasswordHide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="retypePasswordHide">
                            <mat-icon>{{retypePasswordHide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </button>
                        <mat-error>
                          <!--   <span *ngIf="fpass['reTypePwd'].errors?.['required']"
                        <mat-error>
                            <span *ngIf="fpass['reTypePwd'].errors?.['required']"
                                class="text-danger">{{'change_password.required_confirm_password'
                                |translate}}</span> -->
                            <span *ngIf="fpass['reTypePwd'].errors?.['pattern']"
                                class="text-danger">{{'change_password.invalid_confirm_password_format'
                                |translate}}</span>
                        </mat-error> 
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-6 text-start">
                <p class="small fw-bold">{{'change_password.passwords_must_contains' |translate}}:</p>
                <ul class="small">
                    <li>{{'change_password.At_least 8 Characters_long' |translate}}</li>
                    <li>{{'change_password.At_least 1 Lowercase_Characters (a-z)' |translate}}</li>
                    <li>{{'change_password.At_least 1 Uppercase_Characters (A-Z)' |translate}}</li>
                    <li>{{'change_password.At_least 1 Digits(0-9)' |translate}}</li>
                    <li>{{'change_password.At_least 1 Special_Characters (*$@#)' |translate}}</li>
                </ul>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer class="card-footer">
        <div class="d-flex justify-content-between">
            <button mat-flat-button type="button" class="me-2 btn-second" type="button"
                (click)="clearForm(formDirective)">{{dialogData?.cancelBtnText}}</button>
            <button mat-flat-button type="submit" class="btn-main btn" (click)="onChangePassword()">{{'change_password.change_password'
                |translate}}</button>
        </div>
    </mat-card-footer>
</mat-card>
</form>
