<div class="login-bg">
    <div class="login-left">
    </div>
    <div class="login-right">
    </div>
</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" #formDirective="ngForm">
    <div class="container" id="login-box">
        <div class="row">
            <div class="col-sm-5 d-none d-lg-block">
                <img src="assets/images/login-image.png" class="img-fluid">
            </div>
            <div class="col-sm-4">
                <div class="mb-4">
                    <img src="assets/images/logo.png" class="logo">
                </div>

                <div class="d-block mb-4">
                    <mat-button-toggle-group formControlName="userType">
                        <mat-button-toggle *ngFor="let userTypes of loginUser" value="{{userTypes.id}}" [checked]="userTypes.id == loginForm.value.userType" (click)="clearMobAndOTP()">{{userTypes?.m_name}}</mat-button-toggle>
                        <!-- <mat-button-toggle value="2">शाळा लॉगिन</mat-button-toggle> -->
                    </mat-button-toggle-group>
                </div>

                <div class="row gx-1 mb-4">
                    <div class="col-sm col">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-icon matPrefix>person</mat-icon>
                            <input matInput placeholder="{{'login.enter_mobile_number'|translate}}" [readonly]="sendOtpFlag" maxlength="10" formControlName="MobileNo"   (keypress)="validation.noFirstSpaceAllow($event);validation.acceptedOnlyNumbers($event)">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-auto col-auto">
                        <button mat-flat-button class="btn-main btn-icon" (click)="sendOtp()" *ngIf="!sendOtpFlag">
                            <mat-icon>
                                arrow_circle_right
                            </mat-icon>
                        </button>
                        <button mat-flat-button class="btn-main btn-icon" (click)="clearMobAndOTP()"  *ngIf="sendOtpFlag">
                            <mat-icon>
                                close
                            </mat-icon>
                        </button>
                    </div>
                </div>
                <ng-container *ngIf="sendOtpFlag">
                    <p class="small fw-bold text-dark mb-2">{{'login.please_enter_otp' | translate}}</p>
                    <div class="d-flex gap-2">
                        <div class="flex-fill" style="width:55px">
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput placeholder="X"  class="text-center" formControlName="o1" maxlength="1"  (keypress)="validation.noFirstSpaceAllow($event);validation.acceptedOnlyNumbers($event)">
                            </mat-form-field>
                        </div>
                        <div class="flex-fill" style="width:55px">
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput placeholder="X"  class="text-center"  formControlName="o2" maxlength="1"  (keypress)="validation.noFirstSpaceAllow($event);validation.acceptedOnlyNumbers($event)">
                            </mat-form-field>
                        </div>
                        <div class="flex-fill" style="width:55px">
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput placeholder="X"  class="text-center" formControlName="o3"  maxlength="1"  (keypress)="validation.noFirstSpaceAllow($event);validation.acceptedOnlyNumbers($event)">
                            </mat-form-field>
                        </div>
                        <div class="flex-fill" style="width:55px">
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput placeholder="X"   class="text-center" formControlName="o4"  maxlength="1"  (keypress)="validation.noFirstSpaceAllow($event);validation.acceptedOnlyNumbers($event)">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="text-end mb-3">
                        <small class="text-muted">0.20 Sec.</small>
                    </div>
                    <div class="text-center">
                        <p class="small mb-4">ओ टी पी मिळाला नाही का ? <a class="text-main">ओ टी पी पुन्हा पाठवा</a></p>

                        <button mat-flat-button class="btn-main px-5 rounded-pill py-4" type="submit" >लॉगिन</button>
                    </div>
                </ng-container>
            </div>

        </div>
    </div>
</form>