<form [formGroup]="registerForm" (ngSubmit)="onSubmitData()" #formDirective="ngForm">
    <mat-card class="plain-card">
        <mat-card-header class="card-header">
            <div class="d-flex justify-content-between align-items-center w-100">
                <h6 class="text-main mb-0 fw-bold">{{editFlag ?('school.update_school' |translate) : ('school.school_registration' |translate)}}</h6>
                <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </mat-card-header>
        <mat-card-content class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'common.district' |translate}}</mat-label>
                        <mat-select formControlName="districtId" (selectionChange)="getTaluka()"[disabled]="registerForm.value.districtId == 1">
                            <mat-option *ngFor="let dist of districtArray" [value]="dist.id">
                                {{dist.district}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-error
                            *ngIf="registerForm.controls['districtId'].hasError('required')">{{'common.Please_Select_District'
                            |translate}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'common.taluka' |translate}}</mat-label>
                        <mat-select formControlName="talukaId" (selectionChange)="getCenter()">
                            <mat-option *ngFor="let tal of talukaArray" [value]="tal.id">
                                {{tal.taluka}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-error
                            *ngIf="registerForm.controls['talukaId'].hasError('required')">{{'common.Please_Select_Taluka'
                            |translate}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'common.kendra' |translate}}</mat-label>
                        <mat-select  formControlName="centerId" (selectionChange)="getSchoolCategory()"
                        [class.disabled-contenct]="!registerForm.value.talukaId" >
                            <mat-option *ngFor="let cet of centerArray" [value]="cet.id">
                                {{cet.center}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-error
                            *ngIf="registerForm.controls['centerId'].hasError('required')">{{'school.kendra_required'
                            |translate}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-8">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'common.school' |translate}}</mat-label>
                        <input matInput placeholder="{{'school.please_select_school_name' |translate}}"
                            formControlName="schoolName"
                            (keyup)="validator.alphaNumeric($event)" (keypress)="validator.noFirstSpaceAllow($event)"
                            minlength="10" maxlength="500">
                        <!-- <mat-error
                            *ngIf="registerForm.controls['schoolName'].hasError('required')">{{'common.select_school'|translate}}</mat-error> -->
                        <!-- <mat-error *ngIf="registerForm.controls['schoolName'].hasError('minlength') || registerForm.controls['schoolName'].hasError('maxlength')">{{'school.please_enter_valid_school name'|translate}}</mat-error>
                        <mat-error *ngIf="registerForm.controls['schoolName'].hasError('pattern')">{{'school.please_enter_valid_school name'|translate}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'school.school_category' |translate}}</mat-label>
                        <mat-select formControlName="s_CategoryId" (selectionChange)="getSchoolType()">
                            <mat-option *ngFor="let cat of schoolcategoryArray" [value]="cat.id">
                                {{cat.categoryName}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-error
                            *ngIf="registerForm.controls['s_CategoryId'].hasError('required')">{{'school.please_select_school_category'
                            |translate}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'school.school_type' |translate}}</mat-label>
                        <mat-select formControlName="s_TypeId" (selectionChange)="getGenderAllow()">
                            <mat-option *ngFor="let type of schooltypeArray" [value]="type.id">
                                {{type.schoolType}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-error
                            *ngIf="registerForm.controls['s_TypeId'].hasError('required')">{{'school.please_select_school_type'
                            |translate}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'school.gender_selected' |translate}}</mat-label>
                        <mat-select formControlName="g_GenderId" (selectionChange)="getFromClass('fromClass')">
                            <mat-option *ngFor="let gen of genderAllowArray" [value]="gen.id">
                                {{gen.gender}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-error
                            *ngIf="registerForm.controls['g_GenderId'].hasError('required')">{{'school.please_select_gender_allowed'
                            |translate}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'school.class_from' |translate}}</mat-label>
                        <mat-select formControlName="classFrom" (selectionChange)="getToClass()">
                            <mat-option *ngFor="let gr of fromClassArray" [value]="gr.id">
                                {{gr.standard}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-error
                            *ngIf="registerForm.controls['classFrom'].hasError('required')">{{'school.please_select_from_class'
                            |translate}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'school.class_to' |translate}}</mat-label>
                        <mat-select formControlName="classTo">
                            <mat-option *ngFor="let gr of toClassArray" [value]="gr.id" [disabled]="gr.id <= registerForm.value.classFrom">
                                {{gr.standard}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-error
                            *ngIf="registerForm.controls['classFrom'].hasError('required')">{{'school.please_select_to_class'
                            |translate}}</mat-error> -->
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer class="card-footer">
            <div class="d-flex align-items-center justify-content-end w-100">
                <button mat-flat-button class="btn-second me-2" type="reset" (click)="clearForm()">{{'common.clear'
                    |translate}}</button>
                <button mat-flat-button class="btn-main" type="submit">{{!editFlag ? ('common.submit'|translate):('common.update'| translate)}}</button>
            </div>
        </mat-card-footer>
    </mat-card>
</form>