<form [formGroup]="registerForm" (ngSubmit)="onSubmitData()">
    <mat-card class="plain-card">
        <mat-card-header class="card-header">
            <div class="d-flex justify-content-between align-items-center w-100">
                <h6 class="text-main mb-0 fw-bold">Register School</h6>
                <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </mat-card-header>
        <mat-card-content class="card-body">
            <div class="row g-4">
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>District</mat-label>
                        <mat-select formControlName="districtId" (selectionChange)="getTaluka()">
                            <mat-option *ngFor="let dist of districtArray" [value]="dist.id">
                                {{dist.district}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Taluka</mat-label>
                        <mat-select formControlName="talukaId" (selectionChange)="getCenter()">
                            <mat-option *ngFor="let tal of talukaArray" [value]="tal.id">
                                {{tal.taluka}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Kendra</mat-label>
                        <mat-select formControlName="centerId" (selectionChange)="getSchoolCategory()">
                            <mat-option *ngFor="let cet of centerArray" [value]="cet.id">
                                {{cet.center}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-8">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>School</mat-label>
                        <input matInput placeholder="Enter School name" formControlName="schoolName">
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>School Category</mat-label>
                        <mat-select formControlName="s_CategoryId" (selectionChange)="getSchoolType()">
                            <mat-option *ngFor="let cat of schoolcategoryArray" [value]="cat.id">
                                {{cat.categoryName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>School Type</mat-label>
                        <mat-select formControlName="s_TypeId" (selectionChange)="getGenderAllow()">
                            <mat-option *ngFor="let type of schooltypeArray" [value]="type.id">
                                {{type.schoolType}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Gender Allowed</mat-label>
                        <mat-select formControlName="g_GenderId" (selectionChange)="getGroupClass()">
                            <mat-option *ngFor="let gen of genderAllowArray" [value]="gen.id">
                                {{gen.gender}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Group Class</mat-label>
                        <mat-select formControlName="g_ClassId">
                            <mat-option *ngFor="let gr of groupArray" [value]="gr.id">
                                {{gr.groupClass}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer class="card-footer">
            <div class="d-flex align-items-center justify-content-end w-100">
                <button mat-flat-button class="btn-second me-2" type="reset" (click)="clearForm()">Cancel</button>
                <button mat-flat-button class="btn-main" type="submit">{{editFlag ? 'Update' : 'Submit'}}</button>
            </div>
        </mat-card-footer>
    </mat-card>
</form>